[2019-10-07 16:05] iamcco opened #1 "screenshot"
![2019-10-07 23-31-40 2019-10-08 00_04_07](https://user-images.githubusercontent.com/5492542/66328510-58a6c480-e95f-11e9-95ca-0b4ed7c8e83f.gif)

[2019-10-15 05:24] oblitum opened #2 "Not finding flutter SDK in ArchLinux"
I'm trying flutter for the first time, and coc-flutter as well. On Archlinux I can [install the sdk from AUR](https://aur.archlinux.org/packages/flutter/). It installs to `/opt/flutter` and symbolic links are created:

[code]

So the command is in my PATH, but due to a symlink in `/usr/bin/flutter`, not because of adding `/opt/flutter/bin` to my PATH.

[2019-10-15 05:25] oblitum commented on #2
## Output channel: flutter

[dev-command]: register dev command
[lsp-server]: flutter SDK not found!

[2019-10-15 14:58] #2 closed

[2019-10-15 15:07] iamcco commented on #2
I have push a new version, should fix this.

[2019-10-15 15:46] oblitum commented on #2
Yes, thanks!

[2019-10-19 16:58] xorob0 opened #3 "Add automatic dartfmt"
Hi, do you think it would be possible to add an autmatic dartfmt on save ? If so would it be logical to add it in this plugin or to create its own ?

Thanks for the input, I can try to help implement this if needed.

[2019-10-20 01:09] iamcco commented on #3
add to coc-settings.json

[code]

[2019-10-20 01:09] #3 closed

[2019-10-26 07:41] iamcco commented on #1
![image](https://user-images.githubusercontent.com/5492542/67616073-f0812b00-f806-11e9-8e5c-ac42ab3a293c.png)
![image](https://user-images.githubusercontent.com/5492542/67616063-c16ab980-f806-11e9-8522-1c89217096e0.png)

[2019-10-26 09:51] #1 closed

[2019-11-07 14:13] massolarinasajon opened #4 "Wrong full snapshot version"
Suddenty my coc-flutter stop working. I've been using it for a few weeks, but today when I opened the main.dart file it didn't start.

`:CocInfo` says:

![image](https://user-images.githubusercontent.com/39269034/68395696-04a22200-014f-11ea-916e-f2487e7a9aea.png)

If I run `:CocCommand flutter.run` it works as expected.

[2019-11-07 15:32] iamcco commented on #4
Seems issus of your local sdk, have a look at https://github.com/flutter/flutter/issues/16103

[2019-11-07 15:53] massolarinasajon commented on #4
That's what I thought. I already tried everything in that issue, but the Android Studio with flutter plugin uses the same flutter (in my `~/flutter` folder) and there it works, the completion, diagnostics and everything else, besides, every `flutter` command I execute in the terminal works

[2019-11-08 02:35] iamcco commented on #4
try remove `flutter/bin/cache/ flutter_sdk.stamp`

[2019-11-08 11:05] massolarinasajon commented on #4
Didn't work. The only thing that changed was the hash found, now it's `c8562f0ee0ebc38ba217c7955956d1cb`

[2019-11-08 11:35] iamcco commented on #4
The `dart` command in terminal `PATH` environment is point to your flutter sdk?

[2019-11-08 13:05] massolarinasajon commented on #4
I'm using Ubuntu 18.04 and I installed dart through the instructions on this link https://dart.dev/get-dart using `apt-get`. How do I know if it's pointing to my flutter folder? I only have the `~/flutter/bin` folder on my PATH

[2019-11-08 15:54] iamcco commented on #4
try command `dart /path/to/flutter/bin/cache/dart-sdk/bin/snapshots/analysis_server.dart.snapshot --lsp`, it should be same error.

[2019-11-08 18:11] massolarinasajon commented on #4
I did it and the output was the same.

[code]

[2019-11-08 18:25] iamcco commented on #4
I can do nothing with it since it's issue of sdk.

[2019-11-08 19:01] massolarinasajon commented on #4
Sure. I understand. Thanks for you help anyway, I'll try to solve.

[2019-11-08 19:01] #4 closed

[2019-11-08 19:10] massolarinasajon commented on #4
Solved!

Uninstalled my dart through `apt remove dart` and add the folder `flutter/bin/cache/dart-sdk/bin` to my PATH

[2019-11-12 05:57] yaegassy opened #6 "An error is output when :CocCommand flutter.run is executed on Vim8"
When `:CocCommand flutter.run` is executed in `Vim8`, an error is output.

[code]

`flutter run` seems to be running, but I was worried about the error being output.

There is no problem with Neovim.

[2019-11-12 06:03] iamcco commented on #6
Using `mess` to see the whole error message.

[2019-11-12 06:14] yaegassy commented on #6
Hi, `:messages` output.

I'm sorry,  `xxxx` masks the username for privacy reasons.

[code]

[2019-11-12 06:47] iamcco commented on #6
OK，I know what happen, will fix it soon.

[2019-11-13 07:07] #6 closed

[2019-12-12 04:45] rathod-sahaab opened #7 "Auto completion bad cursor position"
version **1.0.8**

Desired behaviour
[code]
Observed behaviour
[code]

[2019-12-12 05:11] iamcco commented on #7
The dart LSP server response:

[code]

So it's expect behavior.

Solutions:

Wait for dart LSP to support

Or

Handle this case by this extension.

[2019-12-13 16:05] rathod-sahaab commented on #7
VS code does it well in my testing

[2019-12-13 16:22] iamcco commented on #7
Do you testing the VS code with the dart LSP? If you just using dart-code extension then it's not the same case.

[2019-12-16 07:49] rathod-sahaab commented on #7
Oh, I was indeed using dart-code, sorry

[2019-12-16 08:32] mfzl opened #8 "Verbose and irrelevant autocomplete entries"
![20191216133109](https://user-images.githubusercontent.com/14900415/70891047-42288380-2008-11ea-90b7-f251ccd970d9.gif)

Is there a way to have more relevant entries like that of visual studio code flutter plugin.

Additionally is it possible to show the doc entry after autocomplete is selected?

For example:

[code]

Can it show document entry for `MaterialColor` constructor after `(` is input?

[2019-12-16 10:24] iamcco commented on #8
dart LSP server's issue.

output from dart LSP:

[code]

the `triggerCharacters` is empty. so you need to trigger the signatureHelp yourself or:

Solutions:

Ask for dart LSP to support

Or

Handle this case by this extension.

[2019-12-16 10:26] mfzl commented on #8
I think this is an issue with language server: dart-lang/sdk#38739

[2019-12-16 11:53] #7 closed

[2019-12-16 11:53] #8 closed

[2019-12-16 14:41] mfzl commented on #8
Is it now going to show documentation on `(` without any additional configuration?

On Mon, Dec 16, 2019 at 4:54 PM +0500, "年糕小豆汤" <notifications@github.com> wrote:

Closed #8 via #9.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

Sent via Migadu.com, world's easiest email hosting

[2019-12-16 15:30] iamcco commented on #8
Yes, you have to update to version >= 1.0.9, but npm does not show the new version package.

[2019-12-17 08:11] mfzl commented on #8
I updated to 1.0.10 and nothing appears after (.

I verified the extension was updated to the version. Removed and reinstalled too.

On Mon, Dec 16, 2019 at 8:30 PM +0500, "年糕小豆汤" <notifications@github.com> wrote:

Yes, you have to update to version >= 1.0.9, but npm does not show the new version package.

—
You are receiving this because you authored the thread.
Reply to this email directly, view

[2019-12-17 09:15] iamcco commented on #8
Check out your (neo)vim version if support float windows

[2019-12-17 14:15] mfzl commented on #8
It can show documentation if I explicitly call for it, other languages also work fine.

On Tue, Dec 17, 2019 at 2:15 PM +0500, "年糕小豆汤" <notifications@github.com> wrote:

Check out your (neo)vim version if support float windows

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

Sent via Migadu.com, world's easiest email hosti

[2019-12-17 14:59] iamcco commented on #8
Can not reproduce.

![image](https://user-images.githubusercontent.com/5492542/71006797-e271cb80-2120-11ea-92e5-f47ea10886ed.png)

[2019-12-18 06:20] iamcco opened #10 "[TODO]: support outline notification"
https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/tool/lsp_spec/README.md#darttextdocumentpublishoutline-notification

[2019-12-18 07:20] ztsuper opened #11 "spawn函数的使用是不是应该加一个shell: true"
我是windows的vim使用者，这款插件一直用不了，一开始是报spawn flutter ENNOT的错误，我看了源码，给spawn函数加了shell: true的设置，好了，但是之后再assembleDebug的阶段还是会报编译错误

[2019-12-18 07:26] iamcco commented on #11
assembleDebug 是什么

[2019-12-18 07:43] ztsuper commented on #11
感谢如此快的回复
![image](https://user-images.githubusercontent.com/39874502/71065512-50afa000-21ac-11ea-832a-d21760825842.png)
运行flutter run 之后命令行会有几个阶段，Running Gradle task 'assembleDebug'的时候会有很多编译错误，但是实际上我可以用命令行跑起来，没有这些错误，对了，我用的是fish-redux的框架，不是到是否有影响

[2019-12-18 07:47] ztsuper commented on #11
![image](https://user-images.githubusercontent.com/39874502/71066465-96209d00-21ad-11ea-977c-d34ceb4dbb62.png)
多是一些类型判断上的错误，但是我用dartanalyzer进行校验，其实并没有这些错误

[2019-12-18 07:57] iamcco commented on #11
这些错误就是 flutter run 报的

[2019-12-18 08:08] ztsuper commented on #11
看上去是这样，但是事实上即使我新建一个项目，它也会卡在这里不动
![image](https://user-images.githubusercontent.com/39874502/71067898-61faab80-21b0-11ea-9c47-ef0d7b310474.png)
当然这些都是在加了shell: true的前提下，如果不加这个设置，会直接报这样的错误：
![image](https://user-images.githubusercontent.com/39874502/71067969-8fdff000-21b0-11ea-8b3b-08f2a36d38d0.png)

[2019-12-18 08:37] iamcco commented on #11
还没在windows下测试过，周末有时间看下

[2019-12-18 08:39] iamcco commented on #11
卡哪里是flutter run卡的吧，新建项目第一次编译，命令行下应该也是一样吧

[2019-12-18 08:46] ztsuper commented on #11
是的，还报了一堆错……
![image](https://user-images.githubusercontent.com/39874502/71070497-ddab2700-21b5-11ea-93d2-ce840d042f2d.png)

[2019-12-18 08:48] ztsuper commented on #11
貌似是文件夹中文的原因

[2019-12-18 08:56] ztsuper commented on #11
解决了中文的原因，现在当我新建一个项目的时候，我跑起来了。只是公司的项目还是不行，是因为用了fish-redux的原因吗？我用命令行是可以运行起来的，但是coc-flutter运行就是不行，报一堆错

[2019-12-18 09:13] ztsuper commented on #11
当执行了flutter.run的时候，node调用了flutter run ，之后应该就托管给flutter去执行后续的工作了，可是为什么命令行可以跑起来，用coc-flutter 的命令就不行，难道是因为没有通过coc-flutter的语法检查？我用dartanalyzer分析了整个项目，并没有错误

[2019-12-18 09:31] iamcco commented on #11
还不知道，flutter run的时候插件这边没有做语法检查之类的，最好可以搞个demo可以复现这个问题

[2019-12-18 13:24] iamcco commented on #11
shell: true 在windows平台已经加上

[2019-12-19 01:44] ztsuper commented on #11
好消息，我去掉了cwd:t，再运行flutter.run，不会报错了
![image](https://user-images.githubusercontent.com/39874502/71137736-21e50880-2244-11ea-976c-f2c1db2fc15d.png)

[2019-12-19 01:45] ztsuper commented on #11
虽然我不知道为什么会这样……

[2019-12-19 01:58] iamcco commented on #11
打印下这个t，看下是什么，理论应该是flutter的项目根目录

[2019-12-19 02:00] ztsuper commented on #11
好的……还有一个问题，它会报这样的错误，我看了一下，我的确没有这个文件，这个是什么原因，我记得dart的语言服务好像是pub.dart.snapshot?
![image](https://user-images.githubusercontent.com/39874502/71138366-3aeeb900-2246-11ea-8401-be20667fd205.png)

[2019-12-19 02:06] ztsuper commented on #11
总之我现在可以使用热重载了哈哈，只是如何打印cwt: t对我来说还是个难题……

[2019-12-19 02:06] iamcco commented on #11
之前版本是这个，这个windows得加上exe判断

[2019-12-19 02:15] ztsuper commented on #11
我修改了路径和文件，还是不行……
![image](https://user-images.githubusercontent.com/39874502/71139188-67a3d000-2248-11ea-894d-6a3eec019a47.png)

[2019-12-19 02:41] iamcco commented on #11
更新下，文件不存在的问题应该修复了，打印 t 的化，你搜下 `Dart SDK not found!` 这个字符串，然后用那个函数打印

[2019-12-19 04:15] ztsuper commented on #11
文件不存在的问题修复了，我打印了t，的确是项目根目录，但是现在的问题是，只要我加上cwt: t，项目就无法运行，报很多错误，去掉之后，项目能够正常运行，也许是这个配置对flutter读取包的路径产生了影响？

[2019-12-19 07:12] iamcco commented on #11
不知道这是为什么，你在根目录执行执行flutter run报错么

[2019-12-19 07:46] ztsuper commented on #11
不会

[2019-12-25 09:45] mfzl commented on #8
Do you mind sharing your configuration

[2019-12-25 10:09] mfzl commented on #8
It works for me with the latest version :+1:

Thanks a lot

[2019-12-27 11:25] fftyjw opened #12 "flutter web服务器开启不了"
命令：:call CocAction('runCommand', 'flutter.run', '-d', 'web-server', '--web-port=8888')
输出：
[coc.nvim] Start flutter dev server...
[coc.nvim] spawn flutter ENOENT

[2019-12-27 11:35] fftyjw commented on #12
补充下输出：
[server]: server error: spawn flutter ENOENT
[dev-command]: devServer error: spawn flutter ENOENT
Error: spawn flutter ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:262:19)
    at onErrorNT (internal/child_process.js:464:16)
    at processTicksAndRejections (internal/process/task_queues.js:80:21)
[dev-command]: unregister commands

[2019-12-27 12:16] iamcco commented on #12
设置 `  "flutter.trace.server": "verbose"` 后在执行，然后 `:CocList output` 选中 flutter 把日志贴上来

[2019-12-27 12:39] fftyjw commented on #12
[dev-command]: register dev command
[sdk]: flutter command not found!
[sdk]: which dart command => /usr/local/bin/dart
[sdk]: dart command path => /usr/local/Cellar/dart/2.7.0-dev.2.1/libexec/bin/dart
[sdk]: dart sdk home => /usr/local/Cellar/dart/2.7.0-dev.2.1/libexec
[sdk]: analyzer path => /usr/local/Cellar/dart/2.7.0-dev.2.1/libexec/bin/snapshots/analysis_server.dart.snapshot
[sdk]: dart comma

[2019-12-27 12:55] iamcco commented on #12
你都没装 flutter 的 sdk，都没有 flutter 命令

[2019-12-27 13:08] fftyjw commented on #12
安装了，是路径设置问题，已经解决，谢谢

[2019-12-27 13:12] #12 closed

[2019-12-30 03:34] CyanBlob opened #13 "Hot reload not working"
Hot reload doesn't seem to be working. I've tried manually adding `"flutter.provider.hot-reload": true
` to my CocConfig just in case, but it still does nothing. No errors or anything. Is there some configuration we need to do in order for this to work, or should it just be a matter of running "flutter run" and then saving the file in vim? I've also confirmed that the file has no errors, just in c

[2019-12-30 04:48] iamcco commented on #13
have you execute `:CocCommand flutter.run` command?

[2019-12-30 16:37] CyanBlob commented on #13
Oh, my mistake! I didn't realize that was necessary. I was wondering how coc-flutter was supposed to find the correct Flutter instance when I ran `flutter run` from the CLI. Using `:CocCommand flutter.run` fixed it.
Thanks!

[2019-12-30 16:37] #13 closed

[2019-12-30 20:59] ram535 opened #14 "[coc.vim] Source "flutter" reacreated"
I am getting this message [coc.vim] Source "flutter" reacreated, when open a dart file.
Everything seems to be working fine.
What is the cause of it?

[2019-12-31 02:35] iamcco commented on #14
dart LSP issue of dynamically register capability. do not affect use

[2019-12-31 21:32] #14 closed

[2020-01-02 09:35] paulzhang5511 opened #15 "source flutter timeout after 5000ms"
![image](https://user-images.githubusercontent.com/53463972/71660473-24884780-2d86-11ea-8728-bc43c87e7002.png)
很容易超时，而且超时之后，再也不能自动补全了

[2020-01-02 09:38] iamcco commented on #15
dart LSP 的问题

[2020-01-02 09:45] paulzhang5511 commented on #15
超时之后，自动补全功能在也不能用了

[2020-01-02 10:37] iamcco commented on #15
这个超时就是获取补全超时，所以不能用

[2020-01-02 10:39] iamcco commented on #15
看下你的 dart 什么版本，不是最新升级到最新，最新都还有问题就可以给 dart lang 提 issue 了

[2020-01-03 12:06] fftyjw opened #16 "default flutter.lsp.initialization.onlyAnalyzeProjectsWithOpenFiles to true"
Please refer to this issue:
https://github.com/dart-lang/sdk/issues/39967

When flutter.lsp.initialization.onlyAnalyzeProjectsWithOpenFiles is set to false. All files in flutter project may be send to dart process for analyze, and this cause dart process use a lot of cpu.

[2020-01-03 14:00] #16 closed

[2020-01-03 14:02] iamcco commented on #16
fix

[2020-01-03 14:03] iamcco commented on #15
刚解决了 #16 ，看下你这边好了没

[2020-01-07 15:51] paulzhang5511 commented on #15
已修复

[2020-01-07 15:51] #15 closed

[2020-01-20 10:04] sha-ran opened #18 "when pubspec.yaml changes"

[2020-01-20 10:04] #18 closed

[2020-01-20 10:10] ghost opened #19 "when pupspec.yaml changes " pub get command is not running automatically"
should i enable any settings in coc-settings.json file

[2020-01-20 12:29] brianegan opened #20 "Noob Question: "Wrap with Widget" actions"
Hiya, first of all, this plugin is amazing! New to Coc and haven't used vim in a while, sorry if this is a dumb Q.

In VSCode / IntelliJ, I can place my mouse over a Widget and hit "Option+Enter" on mac to pull up a list of actions:

  - Wrap with Widget
  - With with Center
  - Remove Widget
  - etc

At the time being, everything seems to be working, but when I place my cursor over a Widget in a

[2020-01-20 13:24] iamcco commented on #20
Config and use mapping `<leader>aw` for the current word

https://github.com/iamcco/dotfiles/commit/1c81fc1e0f188dd8b74676bcaf8125eb8ea161f0#diff-ae1808654b460174fb1c9e44e3a77b78R119-R121

[2020-01-20 13:32] iamcco commented on #19
Ensure you had open dart file first. Current implement need first open dart file to enable extension. Will fix it soon.

[2020-01-20 13:42] brianegan commented on #20
Perfect, thanks!

[2020-01-20 13:42] #20 closed

[2020-01-20 17:09] sha-ran commented on #19
i opened 1st dart files only,
then i edited pupspec.yaml file but no luck

[2020-01-20 17:10] sha-ran commented on #19
thank for replying

On Mon, Jan 20, 2020 at 7:02 PM 年糕小豆汤 <notifications@github.com> wrote:

[2020-01-21 03:28] iamcco commented on #19
Can not reproduce.

[2020-01-21 06:06] sha-ran commented on #19
what does it mean

On Tue, Jan 21, 2020 at 8:58 AM 年糕小豆汤 <notifications@github.com> wrote:

[2020-01-21 21:27] MrCreeper1008 commented on #19
It means he wasnt able to generate the error.

[2020-01-21 21:30] MrCreeper1008 opened #21 "Is it possible to show errors in NERDTree?"
Right now `flutter.lsp.initialization.onlyAnalyzeProjectsWithOpenFiles = false` doesnt seem to do anything. Is it possible to somehow show all errors in a separate buffer or in explorer plugins like NERDTree? Awesome plugin btw.

[2020-01-21 21:41] MrCreeper1008 commented on #11
Hi, I'm getting `spawn flutter ENOENT` error as well. I've tried manually specifying flutter SDK path but to no avail. Seems to be related to this issue.

[2020-01-27 08:20] iamcco commented on #11
@MrCreeper1008 Is that `flutter` command in your `$PATH` environment?

[2020-01-27 08:24] iamcco commented on #21
Use `CocList diagnostics` to list all diagnostics.

[2020-01-27 13:47] MrCreeper1008 commented on #11
Yes

[2020-01-27 14:32] iamcco commented on #11
@MrCreeper1008  Set  `"flutter.trace.server": "verbose"` and checkout channel output.

[2020-01-29 02:45] nzlov opened #22 "not work"
## nvim version
[code]

## os
[code]

## coc version
[code]

## no CocList
[code]

## no registered
open `main.dart`, but no registered.
[code]

[2020-01-29 03:12] iamcco commented on #22
Set "flutter.trace.server": "verbose" and checkout channel output.

[2020-01-29 03:14] iamcco commented on #22
also `CocList extensions` to see if install the extension correctly

[2020-01-29 09:28] nzlov commented on #22
在`CocConfig`里添加了设置，但是`CocOpenLog`还是没有关于`coc-flutter`的日志。在`CocInfo`里也没有关于`coc-flutter`的日志。
通过`CocList extensions`查看:
[code]

[2020-01-29 10:03] iamcco commented on #22
你打开dart文件了么

[2020-01-29 11:03] nzlov commented on #22
肯定打开了
![image](https://user-images.githubusercontent.com/2859981/73351487-10befb00-42ca-11ea-9521-34547b08b9ab.png)

[2020-01-29 11:05] iamcco commented on #22
你的 dart 都没有被识别为dart文件类型，你先装个 dart styntax 插件吧 https://github.com/iamcco/dart-vim-plugin

[2020-01-29 11:08] nzlov commented on #22
安装`https://github.com/iamcco/dart-vim-plugin`后可以了。您应该更新下文档

[2020-01-29 11:22] #22 closed

[2020-01-29 22:46] LinArcX opened #23 "Can't run application (pub get failed (server unavailable) -- attempting retry 4 in 8 seconds... )"
Hi. i can launch the emulator(`:CocList FlutterEmulators`), but it can't run the application (`flutter.run` command) and i get this error:

This is the log when i run: `flutter run` from terminal:
https://gist.github.com/LinArcX/5815974afafa8bd53408bdefbf1580ac

[2020-01-30 01:38] iamcco commented on #23
Can't help, you should open issue on flutter repo.

[2020-01-30 18:36] LinArcX commented on #23
Ok. it's a gradle issue. Du to sanctions in my country i should use vpn.
You should update `gradle.properties` file located in two location:

1. `<your-project-path>/android/gradle.properties`
2. `~/.gradle/gradle.properties`

And paste these lines into those mentioned files:
[code]

[2020-01-30 18:36] #23 closed

[2020-02-01 06:53] sha-ran commented on #19
but for me it is not running  automatically
what im missing

[2020-02-01 07:41] iamcco commented on #19
Set `"flutter.trace.server": "verbose"` and checkout channel output.

[2020-02-01 08:09] LinArcX opened #24 "at processTicksAndRejections (internal/process/task_queues.js:80:21)"
Hi. I'm running application and want to see profiler. So i run this command:
`flutter.dev.openProfiler`

But get that error mentioned in title.

[2020-02-01 08:23] iamcco commented on #24
Set `"flutter.trace.server": "verbose"` and checkout channel output.

[2020-02-01 08:36] LinArcX commented on #24
Sorry but how "checkout channel output"?

[2020-02-01 08:39] iamcco commented on #24
Set above option and reproduce the issue then `:CocList output` and select `flutter`

[2020-02-01 08:49] LinArcX commented on #24
Nothing to say(output window is empty)!
I've just put: `"flutter.trace.server": "verbose"` in init.vim. Is it ok?

[2020-02-01 08:56] iamcco commented on #24
It's coc.nvim setting. change you coc-setting.json

[2020-02-01 09:11] LinArcX commented on #24
Sorry. my bad. here is the output:
https://gist.github.com/LinArcX/6453d5550438b03b8f5c45056d42c8a8

[2020-02-01 09:16] iamcco commented on #24
You should reproduce the issue then checkout output channel

[2020-02-01 09:21] LinArcX commented on #24
I did it. again:
https://gist.github.com/LinArcX/31bc5c867ac940a8fa83529c0b138cd6

[2020-02-01 12:15] iamcco commented on #24
The lsp log looks fine, please paste the all log from `:CocInfo`

[2020-02-01 14:19] LinArcX commented on #24
`:CocInfo` output:
https://gist.github.com/LinArcX/a8a0a968c00a2860c24ac5cb2fc1232d

[2020-02-01 14:44] #24 closed

[2020-02-01 14:46] iamcco commented on #24
It seems open browser fail. Please update and have a try.

[2020-02-04 04:00] cnfczn opened #25 "请问这个插件如何使用？"
感谢作者能发布这么优秀的neovim插件，我一直使用vim。此前一直用neovim写nodejs，感觉coc真的挺棒的。最近正在学习flutter所以想试试用neovim写flutter代码，发现coc-flutter插件真的挺幸运的，再次感谢。
在这之前一直用vscode编辑flutter代码，现在dart,flutter已经在环境变量里。命令行输入flutter run也可以直接编译apk文件，push到手机。vscode F5也可以自动reload.
现在按照readme介绍的,使用 coc-install coc-flutter，已经安装了这个插件。
:coc-list FultterDevices 提示 List FlutterDevices not found.

在打开~/project/projectName.iml文件的状态：
:CocList --input=flutt

[2020-02-04 06:28] cnfczn commented on #25
问题找到了，我的shell是zsh,flutter和dart的环境变量写在了$HOME/.zshrc里边。
环境变量直接添加到/etc/profile里，就可以正确使用插件了。补全和reload都可以用。

[2020-02-04 06:28] #25 closed

[2020-02-07 10:36] sha-ran opened #26 "how to map flutter commands custom keys in NeoVim?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-02-07 10:38] sha-ran commented on #26
Os: Mac
editor: NeoVim
i wanted to map the flutter commands to keys
like FlutterRun -> F5 key
how do i do that

[2020-02-07 12:51] iamcco commented on #26
`nmap <F5> :CocCommand flutter.run<CR>`

Check the docs of (Neo)vim `:h map`

[2020-02-07 12:51] #26 closed

[2020-02-09 15:56] sha-ran commented on #26
thanks bro

[2020-02-12 07:42] hemanta212 commented on #19
same problem. Here is channel output.

[d.txt](https://github.com/iamcco/coc-flutter/files/4190446/d.txt)

[2020-02-19 04:34] bigzhu opened #27 "Is it support set dart format line length parameter?"
Flutter auto format default break code in 80 columns, it is too small for me.
In VSCode  I can set

[code]

Is it support set dart format line length parameter in coc-flutter?

[2020-02-19 07:57] iamcco commented on #27
Not support yet.

[2020-03-08 06:30] rustiever opened #28 "how to open dev.log output as horizontal split??"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-03-08 07:09] iamcco commented on #28
`split output:///flutter-dev`

[2020-03-08 07:09] #28 closed

[2020-03-12 19:07] UtkarshKunwar opened #29 "Support for running tests"
I use the `flutter test test/` command quite frequently (In VSCode, I can just add an entry to the `launch.json` file and run it from there directly).
Right now, I am relying on executing the system command straight from neovim like `:!flutter test test/` but the output is not exactly "pretty" as in green for passed or red for failed. This plugin's great, but if this feature could be added in the

[2020-03-21 03:21] bigzhu commented on #27
I changed to use https://github.com/bigzhu/dart-vim-plugin for auto-format with long line-length code.
There is no need to support this feature.
Sorry to bother you.

[2020-03-21 03:21] #27 closed

[2020-03-28 04:54] PangPangPangPangPang opened #31 "支持flutter attach命令"
混合开发的时候，需要用到flutter attach命令，没有hot reload开发的时候会有不适，希望支持一下。

[2020-03-31 20:04] rosenpin opened #32 "Hot reload not working"
Hi,

I'm using nvim if it matters, I can run the app using :FlutterRun but when I save or run :FlutterHotReload nothing seem to happen :(

I tried changing the log level to verbose but I'm not sure where the logs are written to

Would appreciate your help :)

My config
[code]

[2020-04-01 02:37] iamcco commented on #32
https://github.com/neoclide/coc.nvim/wiki/Debug-language-server#using-output-channel

upload the `flutter-dev` log.

[2020-04-01 07:14] rosenpin commented on #32
Sorry, my bad.
Seems like this issue was caused because I was using Kernel version 5.5 (Linux), apparently the stable branch of flutter has issues with this version. I installed flutter from their git using the master branch and the hot reload works!

Sorry, and thank you

[Link to the relevant issue](https://github.com/flutter/flutter/issues/49185)

[2020-04-01 07:14] #32 closed

[2020-04-08 11:37] dvogt23 opened #33 "Error on flutter.run"
Is this a known error? Could anyone help?

[code]

[2020-04-10 05:45] lepiku commented on #33
Now it's broken on my machine.
[code]

[2020-04-10 06:14] iamcco commented on #33
OK, It seems that neovim latest version change to string and stable version still init

[2020-04-10 06:23] #33 closed

[2020-04-13 19:01] theniceboy opened #34 "Improve devLog"
Currently, the devLog CocCommand will open a window that does not autoscroll nor wrap. Is there a way to change these behaviors?

[2020-04-20 02:08] A-Siam opened #35 "Add installing 'dart-vim-plugin' as a prerequisite"
i had the same issue as #22, everything worked as excepted i don't know exactly what happened as far as i know it's just a syntax-highlighting plugin, anyway adding syntax highlighting is convenient for    the users.

Thanks for the cool plugin

[2020-04-20 03:22] #35 closed

[2020-04-25 21:40] theniceboy opened #37 "Needed a command to stop/clear devLog output"
Currently, if flutter fails to render the page, a load of error output will be dumped to the debugger log, which will be displayed, line by line, by floating windows. This creates lag and sometimes even crashes NeoVim. I suggest that we need a command that clears the output queue produced flutter handled by coc-flutter.

What are your thoughts? @iamcco

![](https://media0.giphy.com/media/MgBJ3Uifi

[2020-04-26 10:16] iamcco commented on #37
Maybe add some support for filter special message to display

[2020-04-26 18:51] theniceboy commented on #37
@iamcco Yeah that's a good idea. Maybe we can filter out something like `^flutter: #\d\+ \+.\+$`

[2020-05-08 03:16] #37 closed

[2020-05-10 08:18] uesaiso commented on #21
You can see diagnostics on [coc-explorer](https://github.com/weirongxu/coc-explorer).

[2020-05-10 18:12] MrCreeper1008 commented on #21
ive given up on setting up vim and decided to just settle with webstorm instead. thank you all for the help though!

[2020-05-10 18:12] #21 closed

[2020-06-02 09:32] igaurab commented on #20
@brianegan could you please elaborate a bit. I don't seem to get it.

[2020-06-03 11:06] #31 closed

[2020-06-03 11:06] #34 closed

[2020-06-03 16:36] igaurab opened #41 "Is there a option for refacroring code?"
When I launch `:CocAction:` there is an option to extract the current widget. As in VS Code and Android studio, how do we enable or access the option to wrap the current widget inside a say `Container` widget?

[2020-06-03 16:41] #41 closed

[2020-06-03 16:42] igaurab commented on #41
I am sorry but `CocAction` indeed worked this time. Prev I had used `CocAction` and it had shown only the option to extract the current widget and now it pretty much shows everything.

[2020-06-04 02:34] iamcco commented on #41
config mapping

[code]
Applying codeAction to the selected region.
Example: `<leader>aap` for current paragraph, `<leader>aw` for the current word.

[2020-06-04 06:17] #19 closed

[2020-06-23 09:10] Kavantix opened #42 "Custom arguments for devices and emulators"
Currently I cannot find a way to pass additional arguments when executing the run command.
It would be especially nice if it was possible to either set a variable in my vimrc with the extra commands or even better would be to have it available per project.

The commands I mostly need is `-t` to select the main file and `--flavor`, both used to select which flavor of the app I want to start, config

[2020-06-23 10:37] iamcco commented on #42
Using `CocCommand flutter.run your args here`, you can also select append action from coc command list to input args.

[2020-06-23 10:45] Kavantix commented on #42
thought I tried that but apparently not correctly thanks.
Could you also add that functionality to the devices command?

[2020-06-24 11:06] MattNguyen commented on #20
Make sure you visual wrap the name of the widget before calling codeaction

[2020-06-29 12:52] PHSix opened #43 "显示server启动失败的问题"
你好， 我使用了你的coc-flutter之后每次进入编辑dart文件的时候coc.nvim都会报一段错误如下：
The "languageserver.dart" server crashd 5 times in the last 3 minutes. The server will not be restarted.
请问这个是什么的问题？

[2020-06-29 12:59] iamcco commented on #43
这是自己配的和插件没关系，把你的 `anguageserver.dart` 配置删了

[2020-06-29 12:59] #43 closed

[2020-06-29 13:02] PHSix commented on #43
ok，问题解决了

[2020-06-30 12:38] Akin909 opened #44 "Flutter app errors cause: error nvim_win_get_buf - Invalid window id: 1753"
**Describe the bug**
When I'm developing a flutter app using `coc-flutter` with `openDevLog` (not sure if this is necessary)
a bunch of floating windows are opened with the error messages, these quickly fill the screen as several windows are opened. When these windows begin to close I then get

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open a simple flutter app that throws many

[2020-06-30 15:10] theniceboy commented on #44
[Same issue here](https://github.com/neoclide/coc.nvim/issues/2113)

[2020-07-01 06:01] aswinmohanme opened #45 "Add Trailing Commas in auto completed names"
Flutter commas are necessary to make sense of the nested widget structure. It would be nice to have the plugin add a trailing comma at the end of all autocomplete names.

[2020-07-09 10:26] 44667788 opened #46 "添加新文件之后，自动导入文件无效"
我通过Defx新建了一个文件，然后使用这个文件里面的类。发现无法像往常那样导入这个新建的文件，必须得退出neovim才可以

[2020-07-10 04:17] iamcco commented on #46
https://github.com/dart-lang/sdk/issues/41195

[2020-07-10 14:59] Chidhambararajan commented on #41
@iamcco why don't you add this config mapping . Many people are running :CocAction directly without selecting a word and they aren't much satisfied with the results

Many people are struggling like the ones in following reddit link
https://www.reddit.com/r/vim/comments/gnsfxs/flutter_vim_wrap_with_widget/frbp80d/

[2020-07-11 05:59] iamcco commented on #41
@Chidhambararajan This config should be in the coc.nvim README, and I had also updated the README about code actions.

[2020-07-13 10:01] haringsrob opened #47 "New files/classes are not detected"
**Describe the bug**
Currently on a fresh flutter project, when I create a new file with a class it is not detected by the language server.

**To Reproduce**
Create a new flutter project.
Create a new file with a Class.
Try to get autocomplete for that class in the main.dart file.

**Expected behavior**
At this point I would like to have the new class to be autocompleted/imported. However nothing

[2020-07-13 10:04] haringsrob commented on #47
https://github.com/dart-lang/sdk/issues/41195

[2020-07-13 10:34] haringsrob commented on #47
https://github.com/neoclide/coc.nvim/issues/1457

[2020-07-13 10:39] haringsrob commented on #47
Removing set hidden form my vim config seems to resolve the issue. but to be sure not closing yet.

[2020-07-14 11:13] haringsrob commented on #47
Hey @iamcco, so after some more work it is indeed the removal of `set hidden` that did the trick.

The weird thing is, that my newly created classes and files were saved. So it had nothing to do with that.

I feel like this is more an issue on the coc/this plugins side rather than an issue in dartlsp

[2020-07-15 02:54] iamcco commented on #47
No, it's not relative to coc.nvim. You get complete item with `set hidden` it's because coc.nvim will send document/didClose when the buffer get hidden. You can test with two file with split windows.

[2020-07-15 06:56] haringsrob commented on #47
So in coc.nvim it should send a didClose on save as well maybe or would that have side effects?

[2020-07-15 08:25] iamcco commented on #47
It should not send didClose on save, didClose means document is close, the lsp can not sync the content anymore

[2020-07-21 11:03] Kavantix commented on #47
This is fixed in the latest nightly of the dart sdk: https://github.com/Dart-Code/Dart-Code/issues/2286#issuecomment-661052999

[2020-07-21 11:19] Kavantix opened #50 "Library dependencies are not resolved"
**Describe the bug**
Dependencies are not resolved when looking at library code.
This fills up the diagnostics list every time one takes a look at the implementation of some Flutter widget for example.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any of your dart projects.
2. Go to the definition of some class of a library
3. Notice that all non relative dependencies are marked as e

[2020-07-22 04:41] iamcco commented on #50
It's because coc.nvim will add workspace change when go to the sdk directory, and there's no `.dart_tool` info of that package. I will fix it do not send workspace change when go to sdk directory.

[2020-07-22 04:50] #50 closed

[2020-07-22 04:55] iamcco commented on #44
I had remove floating window notification for dev log. since it's not make sense when display too much message.

[2020-07-22 04:55] #44 closed

[2020-07-22 04:56] #47 closed

[2020-07-22 04:57] iamcco commented on #46
最新的sdk已经修复了这个问题，等下一个sdk发版吧

https://github.com/iamcco/coc-flutter/issues/47

[2020-07-22 04:57] #46 closed

[2020-07-22 06:56] Chidhambararajan commented on #44
I too had this issue , looks like this issue shows up only when running log intensive applications like an embedded Webview or a video player in a flutter application

[code]

[2020-07-22 07:08] iamcco commented on #44
@Chidhambararajan

Yes.

I don't have much time to deal with this issue, it maybe an option to enabled floating notification in the future if I have time to do it.

[2020-07-22 08:47] Akin909 commented on #44
Thanks @iamcco that's super helpful since at least I can work without the error messages 👍 If you have an idea of how to implement this without the erroring maybe you can write how you would do it and if I get time next week I can have a look

[2020-07-22 10:46] Kavantix commented on #50
@iamcco thanks for the quick response.
This seems to fix the cases when looking at code in the sdk.
However, other libraries still show the same behaviour.

[2020-07-22 11:01] iamcco commented on #50
Use `"flutter.workspaceFolder.ignore": []` options.

[2020-07-22 11:14] Kavantix commented on #50
Can you give me an example of how to use it for a package in the `.pub_cache` folder.
Already tried a lot of possibilities but non work.

Also, the option gives a warning that it expects type `string` instead of `string[]`

[2020-07-22 13:33] iamcco commented on #50
`"flutter.workspaceFolder.ignore": ["~/xxx/xxx"]` path start with `~/xxx/xxx` will not change workspace folder.

[2020-07-22 13:34] iamcco commented on #50
Also you can improve it if you have any good idea.

[2020-07-22 14:32] Kavantix commented on #50
If I understand correctly then the default should actually work for me since the default ignored path ends up being `.../flutter` since the flutter binary is at `.../flutter/bin/flutter` and the pubcache folder which holds all dependencies is at .../flutter/.pub_cache`

However, its still not finding those dependencies so I'm not sure that changing workspace folder is what is causing this issue al

[2020-07-22 16:27] iamcco commented on #50
Dart LSP use project `.dart_tool` packages info to resolve dependence, so if your lib package do not run `flutter packages get` it will not have the dependence info. so if goto lib file and coc.nvim change workspace to lib directory it can't resolve dependence. if your lib is in flutter sdk directory, it should not have the problem. i don't know what happend.

debugger at https://github.com/iamcco

[2020-07-24 13:09] shivahnshankar opened #51 "How to change settings?"
Hi i would like to have a small window open for dev server messages. This is quite useful if you are using print statements in the code.
I believe flutter.openDevLogSplitCommand is the right setting; i tried setting this in coc-settings.json but am not able to set it properly and am getting errors on execution.
Can you please suggest how i might add this or any other changes to the settings?
Thank

[2020-07-24 13:12] iamcco commented on #51
Split at the bottom: https://github.com/iamcco/dotfiles/blob/master/nvim/coc-settings.json#L34

[2020-07-24 13:22] shivahnshankar commented on #51
Hmm..that worked and it gives me the option to reload or restart but maybe i was mistaken. I am looking for what VS Code calls "Debug Console". This has the output of the  flutter run and also any diagnostic print messages embedded in the code. Surely that is different?

[2020-07-27 14:05] Kavantix commented on #50
Running pub get in the package's directory indeed resolves this.
Would there be any way we could automatically do this?

It is also still interesting that the vscode extensions does not need to do this even when running it using the LSP

[2020-07-27 16:07] iamcco commented on #50
I don't have the issue, you can debug with above response.

[2020-08-04 14:13] shivahnshankar commented on #51
Well i am able to see the print statements output in the split now. Turns our that a flutter library Geolocator was not returning the location value. [https://github.com/BaseflowIT/flutter-geolocator/issues/135](https://github.com/BaseflowIT/flutter-geolocator/issues/135. Leaving it here if there are others who face the same problem.
Sorry for the confusion.

[2020-08-04 14:13] #51 closed

[2020-08-07 06:58] antekone commented on #16
FYI: If this option is true, then there are lots of unresolved symbol errors when navigating through Flutter's SDK, or sources of any package installed by `pub`.

I have no errors if this option is `false`.

[2020-08-07 11:50] unknowledgeable opened #54 "Would it be possible to add a command to open Dart DevTools in browser similar to openProfiler?"
Maybe it's already implemented but I can't find it. Looking for a Coc command similar to flutter.dev.openProfiler that would run:

`pub global run devtools`

Then open a browser at:

http://127.0.0.1:9100/#/

but with the URL completed with the the current running profile in from flutter.dev.openProfiler to give something like:

http://127.0.0.1:9100/#/?uri=ws%XXXXXXXXXXXXXXXXXXX%2Fws

Would this

[2020-08-07 12:04] theniceboy commented on #54
Funny thing, I thought of that yesterday as well. I made a [fork](https://github.com/theniceboy/coc-flutter) and [got it working](https://github.com/theniceboy/coc-flutter/commit/c2cb6d458dee433ab9c138c9742231679b147f86). Feel free to take the code but I probably won’t submit a PR because I’m gonna make some further changes (like really fixing #44). Either way, feel free to try out my fork, I’ll b

[2020-08-07 12:26] unknowledgeable commented on #54
What a coincidence!

Please let me know if and when you do submit a PR. I'm very grateful for your suggestion but I'm only just getting to grips with vim/neovim and I'm in the (very confusing) process of building my vimrc/init.vim for the first time so would like to keep it as clean as possible. With my current level of experience, it seems everything I try to implement tends to break functionalit

[2020-08-07 12:45] theniceboy commented on #54
Haha, I understand. @unknowledgeable  I might submit a PR after I fix everything. I might also submit my fork as an npm package so that you'll be able to install it with whatever method you were using to install `coc-flutter`.

[2020-08-07 20:16] Raden6 opened #55 "Enable auto scrolling for workspace.showOutput buffer"
Is there a way to automatically scroll the dev server output whenever there is a new change?

I am currently opening the output buffer with `:CocCommand workspace.showOutput`. However, I need to manually scroll down to see the latest logs. Is there a way to enable scrolling automatically?

As an alternative solution, I tried to tail -f the corresponding buffer "output:///flutter-dev" from a termin

[2020-08-08 02:27] iamcco commented on #55
It should be auto scroll to the bottom when have new log. if you cursor is in the buffer the auto scroll will be disabled.

[2020-08-08 02:30] #55 closed

[2020-08-08 02:39] theniceboy commented on #54
Hey @unknowledgeable , I published [my fork](https://github.com/theniceboy/coc-flutter) on [npm](https://www.npmjs.com/package/coc-flutter-tools). You can install it with `:CocInstall coc-flutter-tools` (but make sure you do `:CocUninstall coc-flutter` if you do that). I was thinking about submitting a PR but turns out that the author uses spaces instead of tabs and my fork use tabs instead of spa

[2020-08-08 02:42] theniceboy commented on #44
Hey @akinsho, this issue was fixed in [my fork of `coc-flutter`](https://github.com/theniceboy/coc-flutter), and I've published it on [npm](https://www.npmjs.com/package/coc-flutter-tools). You can install it with `:CocInstall coc-flutter-tools` (but make sure you do `:CocUninstall coc-flutter` if you do that). I was thinking about submitting a PR but turns out that the author uses spaces instead

[2020-08-09 09:53] unknowledgeable commented on #54
@theniceboy that's great news! Will have a play around with it later today and see how it goes!

[2020-08-09 10:44] theniceboy commented on #54
@unknowledgeable Thanks! Btw please also try out this cool new feature I added! It should be enabled by default. (Might be related to #10)
![Screen Shot 2020-08-09 at 6 25 10 PM](https://user-images.githubusercontent.com/8187501/89730211-575a9280-da6f-11ea-9ad1-73770c1840db.png)

[2020-08-09 17:16] akinsho commented on #44
@theniceboy cool to see the issue fixed, re. tabs v spaces being a blocker to submitting a PR surely you can do a search and replace or something to switch for tabs to spaces etc? 🤷🏿‍♂️ .

[2020-08-09 17:28] akinsho commented on #44
It's entirely up to you in the end since OSS, but there are probably already a lot of people using this package and @iamcco has created a lot of useful extensions/plugins which he's maintaining like `coc-vimlsp`, `coc-spell-checker` as well as `markdown-preview.nvim` (and a bunch more) so I'm sure he'd appreciate some help adding features to this one and it would benefit a lot of people rather tha

[2020-08-09 20:23] unknowledgeable commented on #54
@theniceboy opening devtools works great! Love the new feature too, very handy! Thanks!

[2020-08-10 03:02] theniceboy commented on #44
I completely agree with you, @akinsho. I'll submit a PR eventually. I've been thinking about some new features that I want to add. Some might be too aggressive like notification filtering. Here's another one that I've implemented:
![Screen Shot 2020-08-09 at 6 25 10 PM](https://user-images.githubusercontent.com/8187501/89730211-575a9280-da6f-11ea-9ad1-73770c1840db.png)
It shows the path of the UI

[2020-08-10 09:45] akinsho commented on #44
The outline thing is really cool I don't think I could fit it into my statusline but saw this functionality recently in vscode. Which I think is based on the same thing. Seems like it might be a bit tough to create with `extmarks` in neovim which I'm not sure if those are done yet

![image](https://user-images.githubusercontent.com/22454918/89770170-499c2000-daf6-11ea-8c59-88e498b125e9.png)

I als

[2020-08-10 09:56] theniceboy commented on #44
Yeah @akinsho, I was exploring options to add those lines and it seems impossible. The status bar thing is based on the same thing that those lines are dependent upon, but there's no way in (neo)vim to dynamically draw inline virtual text. I don't think extended marks can draw lines, and I don't think I can utilize `conceal` because `conceal` is based on syntax match. My status line was pretty emp

[2020-08-10 10:05] akinsho commented on #44
Yeah it seemed quite dicey at the time to implement in (n)vim but think there's been some talk on one of the issues or super early PRs in neovim to allow something like that maybe.

Either way I actually think the sidebar panel is more useful since it lets you see the full hierarchy of components at a glance. I think just visualizing it indented etc and maybe collapsible would be quite useful. I u

[2020-08-13 03:51] theniceboy commented on #44
Hey @akinsho, I tried `nvim-treesitter` and my initial impressions are really good.... except it boosted my nvim startup time to about 10 seconds... I'm not sure why that happened but it seems like there are other people who have encountered the same issue. I'll keep an eye on this the treesitter progress though. It looks really cool!

Btw I've implemented a side panel that shows the flutter outli

[2020-08-13 08:47] akinsho commented on #44
😍 😍 I just tried it out, it's *very* cool 👏🏿 👏🏿

[2020-08-13 10:31] akinsho commented on #44
Quick side note @theniceboy it would probably be worth making the panel `nobuflisted` and/or `bufhide=wipe` since atm the buffer is accessible in the buffer list which I don't think is useful since it's only relevant as a buffer local thing like `vista`.

[2020-08-13 11:44] theniceboy commented on #44
@akinsho Good catch! I pushed a new version. I also made it so that the outline window will close when it becomes the last window in the current tab page.

[2020-08-13 12:03] akinsho commented on #44
Nice quick work 💪🏿 , seems like it introduces a bug though. To reproduce open the outline, close it with `:q`, navigate to a new buffer.

![image](https://user-images.githubusercontent.com/22454918/90132065-0b586800-dd65-11ea-9167-02b04aa17b92.png)

Also I just noticed the buffer is `modifiable` so a user can accidentally change the text inside it 😨

[2020-08-13 12:16] theniceboy commented on #44
That was kinda embarrassing haha. fixed

About the `modifiable` issue. In order for me to change this buffer, I have to set the buffer to be modifiable, modify it, and then set it to `nomodifiable` again. These increases lag slightly. I think it's ok if a user modifies the buffer accidentally because when you change the source file or switch to a new buffer, the outline buffer will be updated agai

[2020-08-13 12:46] akinsho commented on #44
Nice 👍🏿 that fixed it.

Tbh I think the standard for this kind of thing is to set to `modified` append then set to `nomodifiable`. This issue I'm describing though is that `nomodifiable` *is not set* at all. So the buffer is actually `modifiable` after I open it.

As an example I can type something at the bottom of the buffer and it will stay there even after I switch buffers and the outline is up

[2020-08-13 14:03] theniceboy commented on #44
@akinsho That makes sense. I made the buffer to be unmodifiable. It doesn't add too much lag which is good. Also, the filetype is now flutterOutline.

[2020-08-13 15:16] akinsho commented on #44
No noticeable lag @theniceboy works much better also it's not accidentally now creating files in my system since it can't be written to anymore 😆

[2020-08-13 15:51] theniceboy commented on #44
Yes! That is very helpful. I've also added the `flutter.toggleOutline` command and the `flutter.outlineWidth setting`. Please lmk if those are useful.

[2020-08-13 16:02] akinsho commented on #44
The toggle is *very* useful I was moving into the split then running `:q` every time before 😆 , also fixing the width and giving an option 🚀 👍🏿

[2020-08-15 16:11] mitzukodavis commented on #41
Hi, where is the coc.nvim README, sorry i am noob

[2020-08-15 16:14] iamcco commented on #41
https://github.com/neoclide/coc.nvim

[2020-08-15 16:57] mitzukodavis commented on #41
many thanks maybe if any one follow this tuto https://www.youtube.com/watch?v=OXEVhnY621

[2020-08-20 09:40] CandySunPlus opened #56 "在控制 workspaceFolders 时的问题"
https://github.com/iamcco/coc-flutter/blob/d828999fa54752a2d0018d6678154bbbbc93afea/src/server/lsp/index.ts#L98-L110
在108行的判断中，如果洽巧在 filter 后 data.added 是空列表了，还是需要执行 next(data) 的吧

[2020-08-20 13:41] rasuru opened #57 ":CocFix doesn't work"
Hello, @iamcco! Thank you for the extension. My issue is I get nothing when I run :CocFix. It seems coc runs quickfix with `:CocAction quickfix`, and coc-flutter runs `:CocAction -quickfix`, right? I discovered this by accident, and I could simply remap :CocFix to using `:CocAction -quickfix` instead, but is this behavior expected?

**To Reproduce**
Steps to reproduce the behavior:
1. Run :CocFix

[2020-08-21 03:00] iamcco commented on #56
filter 后 data.added 为空为什么还要执行 next(data) ?

[2020-08-21 03:02] iamcco commented on #57
I don't know what CocFix do, seems more relative to coc. Need time to see the code of coc what does it do when run CocFix.

[2020-08-21 07:19] CandySunPlus commented on #56
完整看了一下执行流程，我理解错误，close 了吧，感谢回复。

[2020-08-21 07:19] #56 closed

[2020-08-27 02:30] mitzukodavis opened #58 "Open flutter.run on vsplit"
its possible to open flutter.run on vsplit or split is for see the log for debugging. Only show for moment. Thanks for you help
![Screenshot at 2020-08-26 21-29-59](https://user-images.githubusercontent.com/13607376/91376728-594c8180-e7e3-11ea-98b0-a695a86b76d5.png)

[2020-08-27 02:34] iamcco commented on #58
use command `:CocCommand flutter.dev.openDevLog` to open log.

[2020-08-27 02:41] mitzukodavis commented on #58
Many Thanks, i dont see that.

[2020-08-27 02:41] #58 closed

[2020-09-01 21:57] NCSantos opened #59 "Wrong methods/properties of class on completion when dot is already inserted."
On Vim with coc if I have `myObj` and type `.` after, I get that object methods and properties but if I already have `myObj.` I get all options to completion.

[![asciicast](https://asciinema.org/a/eTjhMVhfrIaclQM0Eov0Hs0dt.png)](https://asciinema.org/a/eTjhMVhfrIaclQM0Eov0Hs0dt)

Am I doing something wrong or is this the way it works?

[2020-09-02 02:56] iamcco commented on #59
I don't know what you mean, checkout the output channel of flutter lsp.

[2020-09-02 08:39] NCSantos commented on #59
On the first completion after pressing `.t` I get the following options on the menu:

[code]

All methods and properties of the `MyHomePage`.

On the second completion after pressing `t`, because `.` is already inserted, I get the following options on the menu:

[code]
Here almost all are not methods or properties from `MyHomePage`.

[2020-09-02 08:50] iamcco commented on #59
Can not reproduce, checkout the channel of flutter lsp.

[2020-09-02 09:38] NCSantos commented on #59
My `coc-settings.json`:

[code]

then I do `:CocCommand workspace.showOutput` but don't see anything relevant in the opened file (at work I'm on windows):

[code]

[2020-09-02 09:47] iamcco commented on #59
You should follow the step which reproduce the behavior.

[2020-09-02 10:00] NCSantos commented on #59
I do, but nothing else is added to the output file.

[2020-09-02 10:13] NCSantos commented on #59
After doing the steps that reproduce the behavior I do again `:CocCommand workspace.showOutput`, should I do something else?

[2020-09-02 11:45] iamcco commented on #59
It's strange, it should include the completion log. what's your coc.nvim version ?

[2020-09-02 11:48] NCSantos commented on #59
`CocInfo`

[code]

[2020-09-02 13:27] NCSantos commented on #59
After the first `:CocCommand workspace.showOutput` I have to close the vim buffer of the log file or the next `:CocCommand workspace.showOutput` doesn't show the new updates to the log.
Going to analize it now.

[2020-09-02 13:48] NCSantos commented on #59
Found the log of the completions but I really don't know what I'm looking for.

But one hing I noticed is the `triggerKind` and the `triggerCharacter`, on the good completion are `2` and `.` respective. On the bad completion only `"triggerKind": 1` is set.

[2020-09-03 04:39] iamcco commented on #59
This is right behavior. If LSP return wrong completion items, it's issues of flutter LSP.

[2020-09-04 17:45] npearson72 opened #60 "Can't seem to find the SDK?"
**Describe the bug**
I'm having trouble getting this to work. All other Coc extensions works fine, but this one does not enable autocomplete or any linting, etc.

I use asdf to install flutter. I'm able to use visual studio code to point to the SDK and it works fine. But how can I point to it in neovim?

**To Reproduce**
Steps to reproduce the behavior:
1. I've added the following to my coc-settin

[2020-09-04 17:53] npearson72 commented on #60
Figured it out. This was looking for my `bin/snapshots...` in the wrong place. Is there a way to configure it to find the snapshots?

[2020-09-14 11:25] 2n-1 opened #63 "Flutter project detection and Hot-reload on save not working anymore"
**Describe the bug**
After updating to the latest version of coc-vim:

1. When opening a Flutter project directory, coc doesn't recognize the project anymore (I cannot see Flutter related commands)
2. Hot-reload on save does not work anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to any Flutter project directory (ex. $ cd project/flutter-app/; nvim .)
2. Open Coc menu
3. Yo

[2020-09-14 11:42] 2n-1 commented on #63
NB: When downgrading coc-nvim down to https://github.com/neoclide/coc.nvim/commit/52c18cefd06879924a8469fc493af58fb3e7f1f4 (didn't try for more recent commits) it works as expected!

[2020-09-15 03:03] iamcco commented on #63
@2n-1 it's relative to https://github.com/neoclide/coc.nvim/pull/2295

[2020-09-15 06:58] susurri commented on #60
[code]
works for me.

[2020-09-15 07:14] iamcco commented on #60
This should be command to find flutter/dart executable location. Mostly leave it empty should be fine.

[2020-09-15 07:45] iamcco commented on #54
This should be support by https://github.com/iamcco/coc-flutter/pull/61

[2020-09-15 07:45] #54 closed

[2020-09-15 08:42] npearson72 commented on #60
@susurri brilliant. Works great. Thank you.

[2020-09-15 08:43] npearson72 commented on #60
@iamcco leaving those blank does not work for me for some reason 😞

[2020-09-16 11:45] 2n-1 commented on #63
Thanks @iamcco ! So it will be fixed in the next version or it is the normal behavior?

[2020-09-16 11:46] fannheyward commented on #63
The problem is coc-flutter is not activated in your workspace when you do `nvim .`, create a `.vim` folder in your project root and try again.

[2020-09-17 02:57] iamcco commented on #63
@fannheyward I thinks it will make more sense to show those commands that will active extensions like `onCommand:xxx`. Because that is the use case of `onCommand`.

[2020-09-18 15:08] npearson72 opened #65 "CTRL + Space like in Visual Studio Code?"
Is there a way to trigger an autocomplete menu for properties within classes?

In Visual Studio Code, I can click `CTRL` + `Space` and the menu appears.

Example:

<img width="757" alt="Screen Shot 2020-09-18 at 6 07 36 PM" src="https://user-images.githubusercontent.com/1323414/93613758-f44b0c80-f9d9-11ea-9aa8-2187e74b670e.png">

Any ideas?

[2020-09-18 15:30] npearson72 commented on #65
Found it on the coc.nvim readme:

[code]

Closing. Thanks for the great extension!!

[2020-09-26 13:36] RTS5227 opened #66 "How to preview colours in source code while editing"
Just want to hightlight colors in source code like this

![coc](https://user-images.githubusercontent.com/5492542/66328510-58a6c480-e95f-11e9-95ca-0b4ed7c8e83f.gif)

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Vim or Neovim: Neovim
 - (Neo)vim version: v0.4.3

[2020-09-26 14:14] iamcco commented on #66
https://github.com/neoclide/coc-highlight

[2020-09-26 14:14] #66 closed

[2020-10-18 07:11] RobertBrunhage opened #67 "Intellisense not showing snippets"
**Describe the bug**
I get completion for things like StatelessWidget but not for the snippets.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a .dart file
2. Start writing stles
3. Only showing the full classes and not snippets

**Expected behavior**
I expect to be able to select from snippets

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](http

[2020-10-19 03:13] iamcco commented on #67
set `"flutter.trace.server": "verbose"` option and  type `:CocCommand workspace.showOutput` to open log channel.

[2020-10-19 03:42] RobertBrunhage commented on #67
I have now been able to get the snippets to show up, but tabing it out doesn't seem to work

With the following:

[code]

But when I use the arrow key down and press Enter it seems to work.

[2020-10-19 03:49] iamcco commented on #67
It's not relative to UltiSnips. UltiSnips is not part the LSP. if you want to expand the snippets of UltiSnips, you should look UltiSnips repo for help. I do not use UltiSnips so i don't know how to do that.

[2020-10-19 03:53] RobertBrunhage commented on #67
Ahh, my thought was that coc-flutter didn't provide any snippets as I couldn't get it to show any. Will see if I can remove UltiSnips then and test with "flutter.trace.server": "verbose" and see if the snippets from coc-flutter appears.

My path is ``~\AppData\Local\nvim\init.vim` where do I put `"flutter.trace.server": "verbose"`?

[2020-10-19 03:56] iamcco commented on #67
`"flutter.trace.server": "verbose"` is coc settings, should be add to coc-settings.json.

[2020-10-19 04:01] RobertBrunhage commented on #67
Here is the log

https://gist.github.com/RobertBrunhage/19a31fdadaf09f1207143bbb9141808e

[2020-10-19 04:12] iamcco commented on #67
![image](https://user-images.githubusercontent.com/5492542/96400785-3f885300-1204-11eb-8e7b-6573d63e27fa.png)

from the log the dart lsp return no complete items for what your type.

[2020-10-19 05:38] RobertBrunhage commented on #67
But shouldn't there be snippets for things like stless etc?

[2020-10-19 05:55] iamcco commented on #67
Can't see those from log.

[2020-10-19 06:04] theniceboy commented on #67
I don’t think dart lsp is the one providing snippets like `stlsss`. You might expect those snippets to work coming from vscode or android studio. Those editors/ide’s provide those snippets. If you want those to work on vim, you might want to look for a snippet plug-in like ultisnip along side with some flutter/dart snippets.

[2020-10-19 06:07] RobertBrunhage commented on #67
But what does this mean? Snippet enhance `flutter.provider.enableSnippet` which is true by default

I looked at: https://youtu.be/fEedGn9yybA?t=1504 but it doesn't look like he has other snippet plugins etc. Maybe I am wrong?

@wwwdata

[2020-10-19 06:16] iamcco commented on #67
@RobertBrunhage

is for like

[code]

LSP return `import '';` and this plugin cover to `import '${1}';${0}` snippets.

For others snippets it depend on LSP.

[2020-10-19 08:08] wwwdata commented on #67
@RobertBrunhage for stateless widgets I actually have a manual snippet. Doesn't auto-complete from LSP for me there as well.

[2020-10-20 03:53] RobertBrunhage commented on #67
Okay I see, then I will be closing this issue as it's not related!

Thanks for taking the time 🥇

[2020-10-20 03:53] #67 closed

[2020-10-27 14:24] DanielCardonaRojas opened #68 "How to define custom flutter run command ?"
I put tried the following in a local coc-settings.json

[code]

I get an error:

`Server flutter failed to start: Launching server "flutter" using command ..."

Any documentation on this ?

[2020-10-28 02:55] iamcco commented on #68
No, It's not use for flutter run. it only use for look up dart sdk.

Using `:CocCommand flutter.run your args here` or  like`:call CocAction('runCommand', 'flutter.run', 'your', 'args', 'here')`

[2020-10-28 02:55] #68 closed

[2020-11-06 23:21] ldelossa opened #69 "Coc-Flutter not obeying coc.preferences.enableMarkdown"
**Describe the bug**
I have     "coc.preferences.enableMarkdown": false set in my CocConfig. However, hover info is still in markdown.

**To Reproduce**
Open any .dart file with a symbol that has documentation associated.
Perform a "doHover" action.
See markdown in popup window.

**Expected behavior**
Popup window will not contain markdown when "coc.preference.enableMarkdown" is set to false.

**S

[2020-11-10 03:32] iamcco commented on #69
`"coc.preferences.enableMarkdown": false` is coc option. I don't know how coc handle this option. The doc is return from LSP server.

[2020-11-10 03:32] #69 closed

[2020-11-11 22:08] Kavantix opened #70 "Completion items like `initState` don't show in vim"
**Describe the bug**
When trying to complete a method to override like initState or didUpdateWidget they often don't show up in the completion list

**To Reproduce**
Steps to reproduce the behavior:
1. Create a StatefulWidget
1. type `initState` at the start of the class
1. observe that it doesn't show

**Desktop (please complete the following information):**
 - OS: MacOS
 - Vim or Neovim: nvim
 -

[2020-11-12 02:58] iamcco commented on #70
What's the `filterText` value gets filtered out by coc. Maybe it's better to resolve in coc.

[2020-11-12 08:01] Kavantix commented on #70
In this case it looks to be the same as the insert text (so a snippet of the method)

[2020-11-13 03:38] iamcco commented on #70
it's weird that i can get `initState` from LSP server's response.

[2020-11-13 08:40] Kavantix commented on #70
I’m not sure I understand you completely here.
But if you’re saying that you do see the completion in the completionProvider but not in the actual results in vim then yeah that’s exactly what I found out, and removing the filterText fixes this.

Perhaps it’s because the filterText contains newline characters

[2020-11-16 03:20] iamcco commented on #70
What i mean is that i can't see the `initState` complete item that return from the LSP server in the log channel. Do you have any i can test with ?

[2020-11-16 13:50] Kavantix commented on #70
Could you share your dart code where you type `init` and the js code where you try logging it?

[2020-11-17 02:51] iamcco commented on #70
[code]

I don't have log in js code, just open the flutter log channel of coc.nvim.

[2020-11-17 08:49] Kavantix commented on #70
You have to type init in the state:

[code]

And doesn’t coc only output the ones that aren’t filtered out🤔

[2020-11-18 03:17] iamcco commented on #70
![image](https://user-images.githubusercontent.com/5492542/99381317-04ae3380-2906-11eb-9dbe-9f81d5668ea0.png)

the `\n` in filterText maybe the reason and it's no need for filterText same as insertText.

[2020-11-18 03:33] #70 closed

[2020-11-28 11:45] Nohac opened #71 "Flutter attach not working"
**Describe the bug**
I used to be able to run this command `flutter.attach --debug-uri http://127.0.0.1:50300 -d flutter-tester` in order to attach to the observatory started by `hover` when using `go-flutter-desktop`. This is no longer the case.

**Expected behavior**
I should be able to attach to the observatory running on `http://127.0.0.1:50300` and be able to perform hot reloading as I used t

[2020-11-29 08:50] iamcco commented on #71
What's your coc-flutter version?

[2020-12-14 19:26] ldelossa opened #73 "openDevToolsProfiler does not work"
**Describe the bug**
When utilizing the chrome device for web development the command `openDevToolsProfiler` does not work.
When issued, no action takes place. No logs are given with explanation.

**To Reproduce**
Steps to reproduce the behavior:
1. launch an app with a chrome device
2. issue the command `flutter.dev.openDevToolsProfiler`
3. watch nothing happen.

**Expected behavior**
The system'

[2020-12-15 08:38] fitrh opened #74 "Run when open a YAML File"
**Describe the bug**
coc-flutter always run every time if open a YAML file.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a YAML file in non flutter or dart project
2. `[coc.nvim] list "FlutterEmulators" recreated.` displayed on the cmd window.
3. Check `CocList extensions`, coc-flutter running.

**Expected behavior**
coc-flutter run only if it inside dart/flutter project or a dart fi

[2020-12-20 01:05] TornaxO7 opened #75 "Getting error and warning when launching emulator and can't update mobile."
**Describe the bug**
First bug: If I start the emulator, than I'm getting the following error:
[code]
Here's a live demo:
![GIF](https://user-images.githubusercontent.com/50843046/102701777-d3a18580-425a-11eb-9428-bd1a515eefb7.gif)

**How to reproduce**:
1. Open a `main.dart`
2. Open an emulator
3. Open `:CocInfo`

Anyway this "bug" isn't that important. The second bug is more important:

Hot-relo

[2020-12-20 13:09] TornaxO7 commented on #75
Nvm, I just need to do `:CocCommand flutter.run` instead of `flutter.attach`. I misunderstood these commands. It's working now. Thank you so much for this plugin!!!!!!

[2020-12-20 13:09] #75 closed

[2020-12-23 21:45] TornaxO7 opened #76 "Logs doesn't a appear."
**Describe the bug**
All `dev.log`s aren't outputed in `flutter.dev.openDevLog`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Add this import:
[code]
And add this line in `main()`:
[code]
3. Open an emulator
4. Do `:CocCommand flutter.run`
5. Do `:CocCommand flutter.dev.openDevLog`
6. See output

**Expected behavior**
I expected that the log message would print out

[2021-01-15 02:52] RRethy opened #77 "Question about coloring in README gif"
How is the text colored in the README gif? Is it using https://github.com/neoclide/coc-highlight to do string matching? I noticed dart language server doesn't implement `documentColor` but wasn't sure if there was another feature in the lsp I had missed.

[2021-01-19 23:47] RRethy commented on #77
nvm I found a better option.

[2021-01-19 23:47] #77 closed

[2021-01-20 20:12] RobertBrunhage opened #78 "flutter.run not working with argument --no-sound-null-safety"
**Describe the bug**
flutter.run doesn't care about arguments given to it. I have in the process of migrating to null safety meaning that I am getting in to contact with the following: https://dart.dev/null-safety/unsound-null-safety.

When running `flutter run --no-sound-null-safety` in the terminal this works as expected and I do not get any kind of compiler warning, but running `:CocCommand flu

[2021-01-25 06:54] chemzqm opened #79 "Please avoid set window option on buffer create"
[code]
This would force document create on `BufEnter`, but some feature would expect defer the document create so that other options can be loaded after open the buffer.

Create `request` autocmd would also cause other troubles with coc.nvim, it might be removed in the feature.

[2021-02-05 09:39] Kavantix opened #80 "How can we correctly pass configuration to the dart language server"
Last night I was trying to get the new `dart.completeFunctionCalls` configuration option to work that is now in the flutter beta channel but I can't manage to get any of the configuration options working.

Even adding `"dart.completeFunctionCalls": true,` to my CocConfig did not work  (which should work as far as I understand the structure of coc)
I do know that it should be possible because the v

[2021-02-09 03:30] #79 closed

[2021-02-09 03:50] #42 closed

[2021-02-09 14:18] Kavantix commented on #57
This is indeed caused by coc
it only picks quickfix actions that have kind `quickfix` but the dart server for instance returns `quickfix.import`

[2021-02-09 16:40] Kavantix commented on #78
Are perhaps using multiple versions of flutter?

The run command simply runs the normal terminal command and any arguments you give will be passed along
You can try to pass `--version` to test and then open the output with `CocCommand workspace.showOutput flutter-dev
` then you should see the version meaning the argument was passed correctly

[2021-02-11 22:27] nomasprime opened #86 "Usage?"
Would be great if the docs had an example of usage to get up and running quickly.

[2021-02-16 02:58] sarrietav-dev commented on #86
First open an emulator or connect your device, then run the server

[2021-02-16 16:38] jackielii opened #87 "default linux install setup doesn't find SDK"
**Describe the bug**
Fresh install flutter SDK on linux using snap, then setup coc-flutter showed `[lsp-server]: flutter SDK not found!`

**To Reproduce**
Steps to reproduce the behavior:
1. install flutter: https://flutter.dev/docs/get-started/install/linux#install-flutter-using-snapd
2. install coc-flutter
3. check output: `:CocCommand workspace.showOutput` then select flutter
4. See error

**Ex

[2021-02-16 16:46] jackielii commented on #87
the following setting seems to work:

[code]

[2021-02-16 16:56] Kavantix commented on #87
Do you have it setup using multiple simlinks?

[2021-02-16 18:15] jackielii commented on #87
it's a clean snap installation, symlink following doesn't work with snap:

[code]

so the actual flutter installation is under `$HOME/snap/flutter/common/`

[2021-02-16 19:16] Kavantix commented on #87
I’m not familiar with snap but doesnt `/snap/bin/flutter/ symlink to `home/snap/flutter/common/flutter/bin/flutter’?

the `realpath` command should give you the actual path of a symlink btw.
So what’s the output of `realpath /snap/bin/flutter`?

[2021-02-17 07:34] umuluto commented on #87
It would be great if the plugin could handle this and I dont have to apply this fix manually.

[2021-02-17 09:17] jackielii commented on #87
no Snap doesn't symlink to $HOME/snap, the `flutter` binary is linked to /usr/bin/snap which is a binary. All snap binary are linked to this same binary:

![image](https://user-images.githubusercontent.com/360983/108182299-c4c33c00-7100-11eb-92b0-7c29b38e10e3.png)

[2021-02-17 09:28] Kavantix commented on #87
Ah I see, then indeed manually adding the lookup is probably the only option unless we explicitly check if it is using snap or something.

for the manual lookup btw, only setting the flutter lookup might be enough

[2021-02-17 09:36] jackielii commented on #87
@Kavantix can you revie PR #88 ?

[2021-02-18 03:47] iamcco commented on #80
What's the log in output channel. Any `workspace/configuration` request log ?

[2021-02-18 03:57] iamcco commented on #73
It's weird that no log.

[2021-02-18 06:10] #74 closed

[2021-02-19 00:15] Kavantix commented on #80
It only logs that it gets the request and sends a response
I did some custom logging though by adding the configuration middleware and the setting set in the cocconfig is correctly passed there but it sadly doesnt work

So I guess you also don’t know yet how to do this?
If so we should perhaps ask the coc.nvim guys to help debug it

[2021-02-19 08:41] iamcco commented on #80
![image](https://user-images.githubusercontent.com/5492542/108478389-64cec000-72cf-11eb-9021-335866309e32.png)

I add the new option `"dart.lineLength": 80`, and it works well for me. the log also looks OK. Also I have add those options to package.json so it can autocomplete when edit coc-settings.json

[2021-02-19 08:42] iamcco commented on #80
PS. those options seems new, check if your sdk support that.

[2021-02-19 08:44] Kavantix commented on #80
Could you also check `dart.completeFunctionCalls` that should work on the beta/dev channel

[2021-02-19 09:27] iamcco commented on #80
![image](https://user-images.githubusercontent.com/5492542/108484275-a151ea00-72d6-11eb-94e4-324e8210630f.png)

![image](https://user-images.githubusercontent.com/5492542/108484523-dcecb400-72d6-11eb-86ad-5f97e94de9ec.png)

Yes, it works for me. I may know what happen, if `flutter.provider.enableSnippet` is true, this extension will add `()` snippets for function label end with `()` or `(...)`.  N

[2021-02-19 09:39] Kavantix commented on #80
Hmm indeed if I set `enableSnippet` to false `completeFunctionCalls` puts in the required params for me. But it doesn't work as a snippet.

[2021-02-19 09:39] Kavantix commented on #80
Ah wait I just now see you pushed a change.
Would you mind if we did this in a PR maybe so we can make sure it works before pushing it to master

[2021-02-19 09:43] Kavantix commented on #80
I've also tested with your new version and indeed it now put's in the params even when I don't add it to the config so that's nice, sadly the snippet part doesn't work completely for me at the moment (I cannot jump to the second param) but that might just be my config of nvim/coc

[2021-02-19 09:50] iamcco commented on #80
Yes

It should be the config of nvim/coc. I can jump to the second param with my key mapping.

[2021-02-19 10:01] Kavantix commented on #80
Got it to work nice!

[2021-02-19 10:01] #80 closed

[2021-02-20 14:41] calinvasileandrei opened #89 "Check flutter build status"
Hi, I really like this plugin, but sometimes I watch my terminal for a minute without knowing if the build is going on! There is any way to check the classic terminal status where it says something like: xcode build..... ecc
I would like to know also if this plugin provides some snippets like statefullW for writing all the boring code.

Thanks for the support

[2021-02-20 14:50] calinvasileandrei commented on #89
I found the solution for the console log, with the simple command :CocCommand flutter.dev.openDevLog
Nice, I live the issue open for the snippets thanks.

[2021-02-20 14:50] Kavantix commented on #89
You can use the `flutter.dev.openDevLog` command to see the log like you would see when running from the terminal directly.

[2021-02-21 15:09] ashishbinu opened #90 "Add an option to change the flutter sdk."
I use flutter version manager to change the version of flutter for different projects. It is possible to change the flutter sdk location in vs code easily. Is it possible to add the command like `flutter.changeSdk`.

Below is the gif on how its changed in vscode.

![Screen record from 2021-02-21 20 04 26](https://user-images.githubusercontent.com/56691622/108629159-a785c900-7484-11eb-9206-728f7456

[2021-02-22 07:21] iamcco commented on #89
There is no snippets like `statefullW` support by this extension. you can create or add other snippets with coc-snippets.

[2021-02-22 07:21] #89 closed

[2021-02-22 07:23] iamcco commented on #90
Where are those sdks locations come from ?

[2021-02-22 08:15] Kavantix commented on #57
This should be fixed now in the master branch of `coc.nvim`

[2021-02-22 08:48] Kavantix commented on #90
You can set the flutter command used using the `flutter.sdk.flutter-lookup` configuration, for instance by putting: `flutter.sdk.flutter-lookup: "echo ~/fvm/versions/{version}/bin/flutter"`.
If you want to change it only for the current project open/create your local config by calling `:CocLocalConfig` and adding it there.
Then run `:CocRestart` to restart the analysis so it will use the new comma

[2021-02-22 09:13] iamcco commented on #90
If we can get the sdk locations then we can add an coc-list of sdks with change action. when user apply change action then update change to local config for use.

[2021-02-22 09:54] Kavantix commented on #90
So you're suggesting to automatically change the local `coc-settings.json` with an action?
And then add a config option just like the vscode extension has to provide search paths for where to look for flutter/dart installs?

@ashishbinu I personally don't use fvm, could you check out what the folder structure is that fvm uses, both in a local config and in the `~/fvm/versions` folder

[2021-02-22 10:06] iamcco commented on #90
Yes, I think it is more convenient, after apply the action then we can also restart the LSP server.

[2021-02-22 10:10] ashishbinu commented on #90
This is the local structure of `.fvm/` folder inside the `flutter` project.

![image](https://user-images.githubusercontent.com/56691622/108692925-419c4e80-7523-11eb-9c70-05ce59bb6bd3.png)

This is the folder structure of `fvm/` folder in home directory

![image](https://user-images.githubusercontent.com/56691622/108693425-d3a45700-7523-11eb-9e5a-7cf1db2f1bca.png)

[2021-02-22 10:16] ashishbinu commented on #90
To get the various flutter sdk versions this setting should be added in settings.json of vscode `  "dart.flutterSdkPaths": ["/home/ash/fvm/versions", "/opt/flutter/bin"],`. The drop-down menu in vscode uses these directories to find the flutter sdk paths.And after choosing the required flutter sdk version , it creates a local `settings.json` which has the following setting inside it.
[code]

[2021-02-22 10:16] Kavantix commented on #90
Ah that makes a lot of sense, then you should indeed be able to set the `flutter-lookup` for now to `echo '.fvm/flutter_sdk/bin/flutter'`

I just realise that we don't have a manual way to restart the lsp server  so when you would use fvm to change between versions then you would have to do  a `:CocRestart` as well.
So perhaps we should add that as well.

@iamcco how do you feel btw about adding s

[2021-02-22 10:34] iamcco commented on #90
So perhaps we should add that as well.

By now we can use `:CocList extensions` to select coc-flutter for disable/enable, we can also support that when change sdk.

that make sense. but I'm not familiar with fvm, `.fvim` folder is in the workspace folder?

[2021-02-22 10:39] Kavantix commented on #90
Well if you reload the whole extension then you also restart the dev server, which might not be what you want.

Yeah there can be an `.fvm` folder in the workspace (also see the details @ashishbinu) provided and all the versions are located under `~/fvm/versions` so we should be able to use both of these to 'natively' support it.

Btw, I'm willing to take this up so feel free to assign me :)

[2021-02-22 10:55] iamcco commented on #90
Is that make more sense to also restart the dev server since it have change the sdk?

Cool 👍

[2021-02-22 14:06] #57 closed

[2021-02-26 17:26] nomasprime commented on #90
Bear in mind asdf will be more popular on MacOS.

[2021-02-26 17:31] nomasprime opened #94 "Command failed"
**Describe the bug**
After updating plugins I'm getting the following error message when running flutter doctor:

[code]

Adding redundant `/bin/flutter…` to end of path.

**Expected behavior**
coc-flutter to find and run flutter doctor (`/Users/nomasprime/.asdf/shims/flutter doctor`).

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the fol

[2021-02-26 21:34] Kavantix commented on #94
Did you configure the plugin using the flutterLookup setting or is this the result of the automatic `which flutter`?

[2021-02-26 21:38] Kavantix commented on #90
Sounds reasonable to also support asdf.

@nomasprime could you enlighten me on how the structure of the flutter install using asdf looks like?
Specifically I need to know where the sdk folder is that has the flutter command and the analysis snapshot.

[2021-02-27 10:10] nomasprime commented on #94
This is automatic `which flutter` but I think what's happened is I installed initially with brew to kick the tires before moving to asdf and forgot the initial install, apologies.

Adding the following to config fixes:

[code]

[2021-02-27 10:10] #94 closed

[2021-02-27 11:10] nomasprime commented on #90
Hi @Kavantix, wrote that comment late last night before digesting the issue properly.

It sounds like the current plan is to support changing settings from within the plugin and then restart the server?

I'm actually not sure why you'd want to change sdk settings from the extension. With a version manager wouldn't you just update config to the relevant path commands and forget about it? Eg:

[code

[2021-02-27 11:34] nomasprime commented on #90
Checked out fvm, don't understand why they've implemented it this way.

Personally I'd recommend switching to something like an asdf workflow and avoid this issue altogether. If you write or end up writing multiple languages, it's the obvious choice unless you can run native containers, ie, Linux.

[2021-02-27 11:43] Kavantix commented on #90
You can check the pr to see what the current version is.
But in short it adds the possibility to add search paths it looks through to find flutter sdks and a new config option to set the sdk path.
So anyone can configure it for their own needs and should work with any version manager.

Fvm supports having a different flutter version per project and has ways to configure vscode and intellij to use

[2021-02-27 14:46] nomasprime commented on #90
Digging deeper into fvm it looks like it already allows the SDK to be [set dynamically](https://github.com/leoafarias/fvm#you-can-also-add-the-version-symlink-for-dynamic-switch). Why not just set and forget?

I'm still dubious of the proposed use case anyway: how often is someone in their IDE jumping between SDKs? Personally, never and, if I had to guess, I'd guess this is generally the case. See

[2021-02-27 15:33] Kavantix commented on #90
There is no dependency to fvm, if you don’t have it installed nothing will change regarding that

the lsp of this extension needs to restart if you change the used sdk so that cannot be done in another.
But the feature is more than fvm, it allows you to switch sdks provided in any way, manually for instance and just happens to detect correctly how fvm puts it in your project

After looking into as

[2021-02-27 16:08] Kavantix commented on #87
The vscode extension looks in `~/snap/flutter/common/flutter` As seen [here](https://github.com/Dart-Code/Dart-Code/blob/81b7711c970e3adb5b2933a3e34e49a39b8e7b07/src/extension/sdk/utils.ts#L260)
@iamcco should we simply add that as a searchpath by default after landing #91?

[2021-02-27 17:26] nomasprime commented on #90
Appreciate the functionality's toggled but this still adds a code dependency to an external API, probably stable but who knows.

But the feature is more than fvm, it allows you to switch sdks provided in any way, manually for instance and just happens to detect correctly how fvm puts it in your project

This is why it might still be good to add the restart, presumably `flutter.restart`, which woul

[2021-02-27 20:51] Kavantix commented on #90
It’s not a toggle, it simply looks if a path exists that’s all, the toggle that I did add is for if you have fvm but don’t want to use it for whatever reason

If you want this command please make an issue for it, it is not related to this ticket since restarting the lsp and restarting your app are two different things. Might go together nicely with being able to select a device to use for flutter

[2021-02-27 20:53] Kavantix commented on #86
@nomasprime could you be more specific on what you were missing in the readme to get it working?

[2021-02-27 20:56] Kavantix commented on #76
Sounds like an issue with flutter and not this extension since you do see the other output of flutter.
Does the log show up if you put it in an onPressed for instance?
And what about when you keep it in main and hotrestart?

[2021-02-27 20:59] Kavantix commented on #73
@ldelossa Did you do a CocRestart after setting the config to verbose?
Also, could you share the output of the devLog, I have a feeling this is caused by the way the url is taken from the output

[2021-02-27 21:07] Kavantix commented on #60
Asdf does not directly symlink the flutter command to the sdk directory so you indeed need the flutter-lookup (dart-lookup is not needed though)
But I guess this issue can be closed @npearson72 ?

[2021-02-27 21:11] npearson72 commented on #60
Yes

Sent from my iPhone

[2021-02-27 21:13] TornaxO7 commented on #76
I'm getting a message of my log but it's not evaluated:
[code]
I've absolutely no idea. Does logging works on your machine?

[2021-02-27 21:23] Kavantix commented on #76
Well yes, but I use macos not arch
Does it also not show up if you run the app from the terminal manually?

[2021-02-27 21:51] TornaxO7 commented on #76
No they don't show up if I run the app from the terminal manually.

[2021-02-27 22:16] Kavantix commented on #76
Then the problem definitely lies at flutter not here so you should file an issue there.

[2021-02-27 22:33] TornaxO7 commented on #76
Ok. Thank you for your help!

[2021-02-27 22:33] #76 closed

[2021-02-27 23:07] nomasprime commented on #90
I just meant whether it's on or off, implicitly or explicitly.

I was referring to the restart discussed before my initial comment.

Not having it in the extension means that you have to restart vim or at least coc and possibly manually change config files or execute a terminal command

With other languages I'd just change whatever dependency, SDK or otherwise, and restart whatever needed restarti

[2021-02-27 23:21] nomasprime commented on #86
Thanks, makes sense now. Was just a very busy day and a little friction coming from the official docs to the extension.

In hindsight it's pretty straightforward but adding a brief section, like a rewrite of the ['Run The App'](https://flutter.dev/docs/get-started/test-drive?tab=vscode#run-the-app) section from the official docs, would make the transition seamless.

[2021-02-28 07:10] EdwarKenedy opened #95 "Incorrect indentation of setState snippet"
**Describe the bug**
in the following code, if I type setState the completed code inserts the number of spaces that exist before the cursor, in this example there are six spaces which are inserted after what I believe would be the correct indentation
space represented by ˽
extra space represented by ˟
[code]
**Expected behavior**
[code]

**Desktop (please complete the following information):**
 -

[2021-02-28 12:02] iamcco commented on #63
Close since https://github.com/neoclide/coc.nvim/pull/2915

[2021-02-28 12:02] #63 closed

[2021-02-28 12:19] iamcco commented on #95
Seems like coc's issue. coc will also add indentation, so it become wrong.

@chemzqm any suggest ? Or just remove space character after `\n` by extension?

[2021-02-28 12:25] #60 closed

[2021-02-28 12:28] iamcco commented on #87
It looks good to me.

[2021-02-28 16:11] chemzqm commented on #95
The newText provided unnecessary indent

[2021-02-28 21:04] Kavantix commented on #95
Some tools might not take the string literally. For example
	 VS Code when code complete is requested in this example `con<cursor position>`
	 and a completion item with an `insertText` of `console` is provided it
	 will only insert `sole`. Therefore it is recommended to use `textEdit` instead
	 since it avoids additional client side interpretation.

The documentation seems to suggest that only fo

[2021-03-01 02:25] Charly6596 opened #96 "Wrong flutter command path after updating"
**Describe the bug**
I've installed `coc-flutter` on December and didn't update it until yesterday. I didn't modify any option regarding to executables or anything. As the title says, the flutter command path detected not correct, as shown in the logs later on
**To Reproduce**
My coc-settings.json flutter related lines:
[code]
flutter --version
[code]

flutter doctor
[code]
Execute any flutter com

[2021-03-01 07:28] Kavantix commented on #96
Duplicate of #87

We will support snap by default after landing #91, for now you can add this to your config:
`"flutter.sdk.flutter-lookup": "echo ~/snap/flutter/common/flutter"`
If that doesnt work you might have to replace the ~ with the path to your home directory

[2021-03-01 15:43] iamcco commented on #95
Make sense, we can also resolve it by extension as a workaround for now.

[2021-03-02 03:07] iamcco commented on #95
Open new issue on dart sdk https://github.com/dart-lang/sdk/issues/45147

[2021-03-02 09:20] #87 closed

[2021-03-02 09:20] #90 closed

[2021-03-02 09:20] #96 closed

[2021-03-02 23:04] Charly6596 commented on #96
Hello, I'm still getting the same issue, it shows the same command not found error whenever I execute a flutter command. I've tried deleting coc-flutter and reinstalling just in case.
There is however a small difference in the output channel:
[code]
It works if i add `  "flutter.sdk.flutter-lookup": "echo $HOME/snap/flutter/common/flutter"` to the coc config file (`~` instead of `$HOME` also works

[2021-03-02 23:30] Charly6596 commented on #96
I've navigated to the coc-flutter package.json and it's missing the new changes. I assume it is because the version number didn't change and it's being installed from cache?

[2021-03-03 04:05] iamcco commented on #96
Just publish version v1.8.0, should be works now.

[2021-03-04 17:44] Kavantix commented on #95
Analyzer has made a fix that might need an update in coc as well (and will also take some time to trickle down the flutter channels)

[2021-03-04 17:45] Kavantix commented on #95
@chemzqm does coc already support the `asIs` mode or should I create an issue for it

[2021-03-05 02:33] chemzqm commented on #95
Can't understand.

[2021-03-05 02:43] iamcco commented on #95
@chemzqm It's `InsertTextMode` from LSP v3.16

[code]

[2021-03-05 04:48] hai-ttb19 opened #101 "LSP snapshot not automatically found on windows"
I installed coc-flutter through latest coc.nvim version
LSP server did'nt run when I open the flutter project
"flutter.lsp.restart" give the message "analyzer LSP server is not running" and
Here is the cocnvim log file:
![image](https://user-images.githubusercontent.com/69462447/110067635-b767ac00-7da6-11eb-9e58-ed8161014900.png)
And the flutter-lsp output is empty

My cocnvim info:

[code]

I ins

[2021-03-05 05:51] iamcco commented on #101
Please test https://github.com/iamcco/coc-flutter/pull/102/files

[2021-03-05 07:35] Kavantix commented on #101
@hai-ttb19 could you also share your coc config

[2021-03-05 11:32] hai-ttb19 commented on #101
same error
![image](https://user-images.githubusercontent.com/69462447/110110206-13e7bd00-7de1-11eb-8127-bc9918be9ba9.png)

[2021-03-05 11:33] hai-ttb19 commented on #101
here is it
[code]

[2021-03-05 11:49] Kavantix commented on #101
Your flutter sdk path is wrong it should not include the `bin` part
Try using the following and then opening the list:
`"flutter.sdk.searchPaths: ["E:/flutter_windows_2.0.0-stableA/flutter"]"`

[2021-03-05 11:59] hai-ttb19 commented on #101
It's error
![image](https://user-images.githubusercontent.com/69462447/110112660-9e7deb80-7de4-11eb-9a7d-10a7305266ec.png)

I think it is :
`"flutter.sdk.searchPaths": ["E:/flutter_windows_2.0.0-stableA/flutter"],`
but it still not working

[2021-03-05 12:01] Kavantix commented on #101
Did you restart coc `:CocRestart` after changing the config?

[2021-03-05 12:03] hai-ttb19 commented on #101
yes sir

[2021-03-05 12:04] Kavantix commented on #101
A wait your using linux style instead of windows style for the path.
try using: `"E:\\flutter_windows_2.0.0-stableA\\flutter"` as search path. (double slash to escape them)

[2021-03-05 12:10] hai-ttb19 commented on #101
it still not work
Few day ago, it still work well without any config before I update cocnvim and all extensions (I don't remember the previous version)  to the latest version

[2021-03-05 12:15] Kavantix commented on #101
Strange,
Could you share the output like suggested in the template:

(but make sure to do a `:CocRestart` after changing to verbose)

And also share the directory structure of both `E:/flutter_windows_2.0.0-stableA` and `E:/flutter_windows_2.0.0-stableA/flutter`

[2021-03-05 12:36] hai-ttb19 commented on #101
Oh, it work !!!
`"flutter.sdk.searchPaths": ["E:\\flutter_windows_2.0.0-stableA\\flutter"],
`
It should have "\\flutter"

In my opinion, you should change Readme.md into required "flutter.sdk.searchPaths", without it, lsp will not work, it is very difference than the previous version that I don't need config anything

Thank you !!!

[2021-03-05 12:46] Kavantix commented on #101
Nice that it works, but if your install worked without config before it should still do that.
So could you give me the output you get when not having any config for the sdk

[2021-03-05 13:03] hai-ttb19 commented on #101
The coc-nvim.log give the old error

Here is the flutter output (I rename the folder "flutter_windows_2.0.0-stableA" to "flutter_windows_2.0.0-stable" , those path bellow is true)
[code]

[2021-03-05 13:33] Kavantix commented on #101
Very interesting especially since (as you can see in the log) it does actually have paths to the snapshot and such.
 I'll have to do some debugging on windows for this, but could you already validate for me  that the paths actually exist (so the `\bin\snapshots\analysis_server.dart.snapshot` for instance

[2021-03-05 14:13] hai-ttb19 commented on #101
That path doesn't exist
I find this path, maybe it is:
`E:\flutter_windows_2.0.0-stable\flutter\bin\cache\dart-sdk\bin\snapshots`
there is a file "analysis_server.dart.snapshot" in this path

[2021-03-05 14:15] Kavantix commented on #101
Ah I see what happens,
It's because the `which flutter` ends with `\bin\flutter.bat` instead of `\bin\flutter` which it does on mac

[2021-03-05 14:31] hai-ttb19 commented on #101
Congratulations, I think this is the problem of "coc-flutter-tools" too :))

[2021-03-05 15:07] Kavantix commented on #101
Could you check if my the fix works :)

[2021-03-05 15:14] Kavantix commented on #86
@nomasprime We updated the readme a few days ago together with the new search feature.
Do you still feel we need to add more, like the part in `run the app`?

[2021-03-05 17:02] hai-ttb19 commented on #101
Yeah ! It's working without any configs now ! :100:
[code]

[2021-03-05 22:20] Kavantix commented on #78
I’m assuming your issue was fixed so I’ll close the issue
If you are still having issues feel free to comment here and I’ll reopen and investigate 🙂

[2021-03-05 22:20] #78 closed

[2021-03-05 22:22] Kavantix commented on #71
@Nohac are you still running into this?

[2021-03-05 22:26] Kavantix commented on #59
The lsp version of the dart analyzer has improved a lot so this should be better now, either way we cannot really do something about it so I’ll close this issue.
If there is something we can do to improve this in the extension feel free to comment and I’ll reopen and investigate

[2021-03-05 22:26] #59 closed

[2021-03-07 10:09] nima-dvlp commented on #86
Sorry but I can't figure out how to run global commands mentioned in the Readme 😁!

[2021-03-07 10:32] Kavantix commented on #86
@nima-dvlp see the documentation of [coc.nvim](https://github.com/neoclide/coc.nvim/tree/master) for this. But in short:
Use `:CocCommand flutter.X` or alternatively open the list of all coc commands using `:CocList commands`

[2021-03-07 10:32] nima-dvlp commented on #86
`:CocCommand flutter.run` 😅 after a lot of tests....

[2021-03-07 13:11] #101 closed

[2021-03-08 04:14] nabeelparkardarwin commented on #68
Is it possible to extend this to `flutter.devices`? I use multiple devices to test my application and I need to add `--no-sound-null-safety` to the run command in order to run the app since not all the dependencies are migrated to null safety. Please advise

[2021-03-08 07:23] Kavantix commented on #68
It already does that.
But if you want to run in unsound mode you can also simply set the dart version of your main file to 2.9: `// @dart=2.9`

[2021-03-08 09:07] Kavantix opened #104 "Device selection for `flutter.run` command"
Add a device selection function that lets the user choose the device they want to run on when they call the `flutter.run` command.

Requirements:

- [x] Start the `flutter daemon` process to enable device polling ([spec](https://github.com/flutter/flutter/blob/master/packages/flutter_tools/doc/daemon.md))
- [x] Show the currently selected device in the statusbar
- [x] Change the `CocList FlutterDe

[2021-03-08 10:59] Nohac commented on #71
No, I've been using normal flutter for desktop so it's been working out of the box, sorry for keeping this issue open for so long.

[2021-03-08 10:59] #71 closed

[2021-03-11 04:56] fannheyward commented on #95
coc lsp-316 branch has added `insertTextModeSupport`

https://user-images.githubusercontent.com/345274/110737821-12971400-8269-11eb-8252-0a8e9442fe73.mov

If completionItem.insertTextMode is asIs, coc snippet manager will not add indents.

[2021-03-12 05:34] nabeelparkardarwin commented on #104
You can do this with the `flutter.devices` command. You can select the device in the menu that pops up

[2021-03-12 06:37] Kavantix commented on #104
@nabeelparkardarwin thanks for the input but I think you misunderstood this issue, it’s not a feature request but a feature specification

[2021-03-12 08:01] #86 closed

[2021-03-12 08:01] #104 closed

[2021-03-12 09:50] nomasprime commented on #86
Thanks @Kavantix 👍

[2021-03-12 20:19] Charly6596 opened #110 "set foldcolumn error: request error nvim_win_set_option"
**Describe the bug**
There is an error in the output log whenever a float window appears
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Execute any command that produces a floating window log output

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - Vim or Neovim: Neovim
 - (Neo)vim version: v0.4.4

**Output channel:**

[code]
**Edit: I originally thought t

[2021-03-12 20:26] Kavantix commented on #110
Could you also share the output of the devlog

[2021-03-12 20:36] Kavantix commented on #110
The commit after that commit ups the version to v1.8.1

According to the log the server started using the command `/home/charly/snap/flutter/common/flutter/bin/flutter run -d linux` but it exited with an exit code of 1

[2021-03-12 20:53] Charly6596 commented on #110
Right, just checked dev logs and there is a problem building for linux, works fine for mobile and web @Kavantix
[code]
Doesn't seem to be related to coc-flutter :sweat_smile:
Is it fine to have that foldcolumn error though? Looking at the code the fix was using int for vim and string for nvim, but it says it needs an integer :thinking:

[2021-03-12 20:55] Kavantix commented on #110
Yeah we'll look into the foldcolumn thing again should definitely not be there @iamcco

[2021-03-13 10:05] iamcco commented on #110
Please test with https://github.com/iamcco/coc-flutter/pull/111

[2021-03-13 12:43] Charly6596 commented on #110
Works on my machine :+1: @iamcco

[2021-03-13 13:13] #110 closed

[2021-03-22 08:56] Kavantix opened #114 "Device selector improvements"
Currently the device selector writes to the local config when selecting a new device.
This can be quite annoying to the user.

So the new proposed behavior lets the user choose between the following actions:

1. Select and use for current session
1. Select and save to workspace config (old default)
1. Select and save to workspace state
1. Select and save to global config
1. Select and save to glob

[2021-03-22 09:00] iamcco commented on #114
Maybe an option to change the default behavior would make more sense.

[2021-03-22 09:11] Kavantix commented on #114
Alright let's also add a config option to change which is the default action

[2021-03-26 13:47] amrbenattia commented on #28
in coc futter configuration, change default to something like "botright 10split"
`				"flutter.openDevLogSplitCommand": {
					"type": "string",
					"default": "botright 10split",
					"description": "Vim command to open dev log window, like: `botright 10split`"
				},
`

[2021-03-28 10:49] gronka opened #116 "resumeNotification not called within same tick: Error"
When I launch vim on a dart file that imports flutter/material, I get the message "Starting device daemon...". Then, the coc errors in my code load. Finally, I get this error message on the bottom of my screen:
`[lsc:Error] Error from message handler: 'Vim(call):E117: Unknown function: win_execute'`

After I save, all error highlights in code disappear. I assume lsc has crashed and it's cache is w

[2021-03-28 11:03] Kavantix commented on #116
Interesting, this only happens if the file import flutter material?

Could you also share the output of coc itself

[2021-03-28 11:03] gronka commented on #116
This error does not occur when I am not running my android emulator

[2021-03-28 11:04] Kavantix commented on #116
That’s weird

[2021-03-28 11:19] gronka commented on #116
I restarted my avd Pixel emulator (I had tried this before) and now the plugin seems entirely different.

I'm not even sure what to say. 10 minutes ago there was not much code-highlighting - errors were underlined. Now the errors are highlighted bold red (which looks much nicer lol). Maybe some part of the avd pipeline was caching something?

I'm not sure if it's related, but now I have to save a

[2021-03-28 11:46] Kavantix commented on #116
The bold red is the default coc uses indeed

You have to save the file before it shows you the diagnostics? That doesn't sound correct.

This sounds like you have some kind of configuration issue.
Which version are you using of coc?

Use `:CocOpenLog`

[2021-03-28 11:50] Kavantix commented on #116
Do you also have another lsp installed?

I found the exact error you posted for [vim-lsc](https://github.com/natebosch/vim-lsc/issues/405#issue-833532052)

[2021-03-28 12:54] gronka commented on #116
Diagnostics load when the file opens. Sometimes after saving (10% of the time?) diagnostics are hidden. But the bold red remains and is visual queue enough to save again. It's not ideal, but it doesn't really bother me

I'm not sure if there's a command for this, but if I cat ~/.vim/bundle/coc.vim/package.json it says coc.nvim version 0.0.80

It's likely

Yes. It is common to use both coc and lcs,

[2021-03-28 12:56] Kavantix commented on #116
Not sure but it sounds like it is at least overkill haha.

Alright feel free to open a new issue if there is something that needs improving :)

[2021-03-28 14:29] gronka commented on #116
So, after toying with lsc the error is happening consistently, as originally described (all coc diagnostics disappear after saving most of the time).

I removed `vim-lsc`, `vim-lsc-dart`, and `thosakwe/vim-flutter`:
[code]

`:CocOpenLog` after adding a new line to a file and saving a few times:
[code]

If I open `:CocDiagnostics` all output disappears when all the text-decorations disappear.

[2021-03-28 14:44] Kavantix commented on #116
Just for the record, your no longer seeing `[lsc:Error] Error from message handler: 'Vim(call):E117: Unknown function: win_execute'` right?

[2021-03-28 14:48] gronka commented on #116
Correct. The lsc folders are gone from my .vim/bundle folder

[2021-03-28 14:54] Kavantix commented on #116
Ow you reinstalled lsc and that's when it broke again 🙈

Then I'm gonna close this again, I don't think it's normal to run both at the same time and can definitely imagine that that would give problems.

Still strange though that it sorta breaks but still works half of the time.

[2021-03-28 14:59] gronka commented on #116
No, lsc is gone. I should actually say that coc broke after I uninstalled lsc, lol

Then I reinstalled lsc and it was still broken. So now I've removed everything. All I have in my vimrc for dart is:
[code]

[2021-03-28 15:34] gronka commented on #116
This looks like an issue with coc.nvim's use of resumeNotification, so I might open an issue there. It could also be an issue with how coc-flutter is implementing coc.

[2021-03-28 15:47] Kavantix commented on #116
Why do you think it has something to do with that?

[2021-03-28 16:32] gronka commented on #116
I assumed `resumeNotification` was a low level call to vim/nvim. But, it doesn't show up in the nvim repo nor the coc.nvim repo, so I guess I'm wrong. I don't know where to look next.

I installed coc-flutter on my Void linux machine, and it works well. It is using underlines instead of bold red font (config?), but I don't see any issues otherwise.

[2021-03-28 17:28] Kavantix commented on #116
The resume notification error is unrelated and you can ignore it (we are looking into it still but other then showing the error it doesnt cause any issues)

Good to hear you got it working.
You can indeed configure how the errors look just make sure to set them loading your colorscheme (in case it overwrites them).

I personally use the following:
[code]

[2021-03-29 03:54] iamcco commented on #116
@gronka Seems like bug fo coc-flutter, please test with https://github.com/iamcco/coc-flutter/pull/117

[2021-03-29 04:05] iamcco commented on #116
Let's reopen to make track easier

[2021-03-29 06:33] #114 closed

[2021-03-29 06:38] #116 closed

[2021-03-30 10:34] gronka commented on #116
Thanks! The resumeNotification error is gone, but the main issue persists (coc diagnostics disappear after 70% of saves). With flutter.trace.server set to verbose, the log doesn't show much. This log looks the same on both my popos and void laptops:

[code]
@iamcco fyi, the diagnostics always load on file open. So, I can still use coc-flutter even though it's janky. I can make keybinds for coc#ref

[2021-03-30 10:36] Kavantix commented on #116
`coc#refresh` fixes it?

[2021-03-30 10:42] gronka commented on #116
It doesn't fix it. It updates the diagnostics each time I run it.

[2021-03-30 10:48] Kavantix commented on #116
What happens if the diagnostics are missing and you do `:e` to reload the file?

[2021-03-30 10:53] gronka commented on #116
This also refreshes the diagnostics.

[2021-03-30 10:55] gronka commented on #116
Setting `"diagnostic.refreshOnInsertMode": true,` in `:CocConfig` is the workaround I'll go with for now.

[2021-03-30 11:23] iamcco commented on #116
when `flutter.trace.server set to verbos` you should checkout by `:CocCommand workspace.showOutput` then select flutter-lsp to see if the server return diagnostics.

`coc-flutter` does not handle diagnostics display of hide. It's control by coc.nvim.

[2021-03-30 15:31] Kavantix commented on #116
All this definitely sounds like it’s going wrong at coc’s end.

I also noticed you’re running quite an old version of node, is the other machine where it works correctly using a newer version perhaps?

[2021-04-12 22:37] kickymaulana opened #118 "lsp automatic in coc-flutter not working in vim8 windows 10"
i use vim8 in windows 10 and i use pathogen for install cocnvim. and i sucess installed my coc-flutter with CocInstall coc-flutter but not LSP not working in my flutter project. show only [A]

[2021-04-14 02:49] iamcco commented on #118
Can't help with nothing information, please fill the issue template.

[2021-04-22 11:47] fixxtion opened #119 "How to Enable Code Format on Save"
I am not able to figure out how to enable code format on save. If someone can help me with same. It'll very thankful to me.

[2021-04-22 11:52] iamcco commented on #119
add to your coc-settings.json

[code]

[2021-04-22 11:57] fixxtion commented on #119
Hey bro, I am noob. I dont know where this file do exists. Would u like to tell me where i will get that file or should i create one?

[2021-04-22 12:01] Kavantix commented on #119
Check de docs of [coc.nvim](https://github.com/neoclide/coc.nvim)

[2021-04-22 12:01] #119 closed

[2021-04-22 12:13] fixxtion commented on #119
I did that. But unfortunately I do not see a single change in my code formatting. :-(

[2021-04-22 12:16] Kavantix commented on #119
Did you try restarting vim/nvim afterwards?

Could you specify all the steps you took

[2021-04-22 12:28] fixxtion commented on #119
I installed plugs below mentioned:
Plug 'dart-lang/dart-vim-plugin'
Plug 'natebosch/vim-lsc'
Plug 'natebosch/vim-lsc-dart'
Plug 'neoclide/coc.nvim', {'branch': 'release'}
After that I ran command in vim
:PlugInstall
:CocInstall coc-flutter
:CocConfig
I pasted below snippet in that json file:
"coc.preferences.formatOnSaveFiletypes": [
    "dart"
  ]
I exectued below commands in vim
:CocInstall coc-

[2021-04-22 12:32] Kavantix commented on #119
Try removing vim-lsc and vim-lsc-dart

and can you share the whole coc-settings.json file

Restarting your pc is a bit overkill ;)

[2021-04-22 12:37] fixxtion commented on #119
In coc-setting.json file I only have:
"coc.preferences.formatOnSaveFiletypes": [
"dart"
]

[2021-04-22 12:38] Kavantix commented on #119
That's not valid json 🙈

[2021-04-22 12:39] fixxtion commented on #119
I realized only just that few miliseconds ago when vim advised me to run -CocList diagnostics.

[2021-04-22 13:01] fixxtion commented on #119
Thanks for the help buddy, I finally unplugged coc-flutter.

[2021-04-22 13:18] Kavantix commented on #119
What do you mean by unplugged coc-flutter?🙈

[2021-04-22 14:25] fixxtion commented on #119
I removed coc-flutter plugin and try to do it all by myself.

[2021-05-13 06:08] m1t0z opened #120 "[Question] Is it possible to rename .dart files with automatic update of the import refs?"
Hi!

First of all huge thanks for this plugin!

The question is same as in the subj, i.e. is it possible to rename .dart files and update import refs automatically.

I've made a small experiment with help of coc `workspace.renameCurrentFile`.
The target .dart file was successfully renamed but all import references to it in another files were not updated.
Do i miss some vim/coc/env/etc configuratio

[2021-06-29 15:32] Jorgee97 commented on #78
I'm not using multiple versions of flutter an still have this error, it seems like the flags are being ignored and the tool is just running standard flutter run command. Can we reopen and investigate why would this be happening?

[2021-06-29 15:46] Kavantix commented on #78
@Jorgee97 please open a new ticket and include the details requested in the template

[2021-07-12 20:19] Jorgee97 commented on #68
@nabeelparkardarwin I guess you already solved your issue, but I have this for my own setup:
`nnoremap <leader>fns :CocCommand flutter.run --no-sound-null-safety <cr>`

Hope it helps.

[2021-07-13 13:46] lcdsmao opened #122 "Question: highlight provided by `coc-flutter` overwrite the highlight provided by `nvim-treesitter`"
**Describe the bug**
It seems the highlight provided by `coc-flutter` overwrite the highlight provided by `nvim-treesitter`.

The highlight when first opened as dart file:
<img width="466" alt="Screen Shot 2021-07-13 at 22 25 01" src="https://user-images.githubusercontent.com/13031690/125461394-46fda2b6-6939-4ff4-a9b7-dfd43d3ff46d.png">
The highlight after a few seconds:
<img width="472" alt="Scre

[2021-07-13 14:55] Kavantix commented on #122
Looks like this is caused by `semantic tokens`
So @lcdsmao that means that the highlighting changes because the language server recognises that `WidgetFlutterBinding` for instance is a `class` and `kDebugMode` is a constant.

[2021-07-13 23:57] lcdsmao commented on #122
@Kavantix
Thanks for your answer!
I found I can turn off this behavior via setting:
[code]

[2021-07-13 23:57] #122 closed

[2021-07-22 03:57] jithusjacob opened #123 "Updated Neovim to 0.5 version on windows and coc-flutter not working"
I just installed Neovim 0.5.0 on windows and coc-flutter is not working. Then I installed Neovim 0.4.5 and its working fine now.
Any way it can work for Neovim 0.5.0

[2021-07-22 05:30] Kavantix commented on #123
@jithusjacob I’m also using 0.5 so it should work
Could you add the info requested in the template

[2021-07-22 07:08] jithusjacob commented on #123
**Describe the bug**
I installed Neovim version 0.5 and used my old init.vim. Coc action and error detecting for flutter was not working.
So installed  neovim 0.4.5 and its working now. This is on windows 10

**Expected behavior**
Code action and error detecting should work for neovim 0.5

**Screenshots**
Neovim 0.4.5
![image](https://user-images.githubusercontent.com/16571206/126596256-6fbbe1c3-4

[2021-07-22 07:17] Kavantix commented on #123
Which version of flutter are you using?
And can you check if `C:\Users\jithu\Documents\flutter\bin\dart.BAT` exists

[2021-07-22 07:23] Kavantix commented on #123
Also does this file exist: `C:\Users\jithu\Documents\flutter\version`?

[2021-07-22 07:24] jithusjacob commented on #123
Flutter 2.2.3 • channel stable • https://github.com/flutter/flutter.git
Framework • revision f4abaa0735 (3 weeks ago) • 2021-07-01 12:46:11 -0700
Engine • revision 241c87ad80
Tools • Dart 2.13.4

and yes C:\Users\jithu\Documents\flutter\bin\dart.BAT exists
![image](https://user-images.githubusercontent.com/16571206/126603078-d13090e2-b78b-4e00-8897-f74a5bb7cd9c.png)

[2021-07-22 07:27] jithusjacob commented on #123
yes it exists

[2021-07-22 07:37] Kavantix commented on #123
@jithusjacob  Could you try if #124 fixes it?

[2021-07-22 07:47] jithusjacob commented on #123
How do I try this update. Can you  give the steps to install this change?

[2021-07-22 08:18] Kavantix commented on #120
The flutter master branch has support for this feature, stable not yet

[2021-07-22 08:21] Kavantix commented on #123
You can add the following to your vim config (if you use plug and have node installed)
[code]

[2021-07-22 08:22] Kavantix commented on #123
You can add the following to your vim config (if you use plug and have node installed)
[code]

[2021-07-22 08:27] Kavantix commented on #123
You probably also need to uninstall coc-flutter using `:CocUninstall coc-flutter` otherwise it will still pick that one

[2021-07-22 08:37] jithusjacob commented on #123
.Not Sure about the install.I usually install using init.vim having below lines
" COC PLUGIN SETUP:
  7 let g:coc_global_extensions = [
  6   \ 'coc-flutter',
  5   \ 'coc-snippets',
  4   \ 'coc-yaml',
  3   \ 'coc-explorer',
  2   \ 'coc-markdownlint',
  1   \]

So deleted coc-flutter from init.vim and did :CocUninstall coc-flutter. Then added the plugin and installed but getting the below error

[2021-07-22 08:42] Kavantix commented on #123
Can you manually run `npm install` in `C:\Users\jithu\AppData\Local\nvim\plugged\coc-flutter`

[2021-07-22 08:50] jithusjacob commented on #123
PS C:\Users\jithu\AppData\Local\nvim\plugged\coc-flutter> npm install

husky - Git hooks installed

'rm' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code 1
npm ERR! path C:\Users\jithu\AppData\Local\nvim\plugged\coc-flutter
npm ERR! command failed
npm ERR! command C:\Windows\system32\cmd.exe /d /s /c husky install && npm run clean && npm run build

[2021-07-22 08:55] Kavantix commented on #123
Ah I see whats wrong, you can change line 23 of the package json to:
[code]
That will prevent the clean command from running since it was not setup for windows it seems

[2021-07-22 09:03] Kavantix commented on #123
@iamcco can you look into fixing the `npm run clean` on windows

[2021-07-22 10:18] iamcco commented on #123
fix the clean script on windows https://github.com/iamcco/coc-flutter/pull/125/files

[2021-07-22 10:53] jithusjacob commented on #123
I don't know much about npm. I just tried npm init and created package json in that added the prepare statement and ran npm install again.But getting same error

[2021-07-22 11:17] Kavantix commented on #123
The command should be fixed now.
Can you run `git reset --hard` then `git pull --rebase` and then `npm install` again. (all in `C:\Users\jithu\AppData\Local\nvim\plugged\coc-flutter`)

[2021-07-22 11:24] jithusjacob commented on #123
PS C:\Users\jithu\AppData\Local\nvim\plugged\coc-flutter> git reset --hard
HEAD is now at 12eb6e8 fix(version-windows): Fixed reading flutter version on windows
PS C:\Users\jithu\AppData\Local\nvim\plugged\coc-flutter> git pull --rebase
Already up to date.
PS C:\Users\jithu\AppData\Local\nvim\plugged\coc-flutter> npm install

husky - Git hooks installed

'.' is not recognized as an internal or ext

[2021-07-22 11:28] Kavantix commented on #123
First of all, thanks for helping us test this! We don't use windows.
I made another change to the script can you again try pulling and running npm install

[2021-07-22 11:33] jithusjacob commented on #123
PS C:\Users\jithu\AppData\Local\nvim\plugged\coc-flutter> npm install

husky - Git hooks installed

'NODE_ENV' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code 1
npm ERR! path C:\Users\jithu\AppData\Local\nvim\plugged\coc-flutter
npm ERR! command failed
npm ERR! command C:\Windows\system32\cmd.exe /d /s /c husky install && npm run clean && npm run

[2021-07-22 11:35] Kavantix commented on #123
Alright, we are getting further at least.
@iamcco could you again look this error.

@jithusjacob to get you a step further now, can you run `node esbuild.js` directly instead of `npm run install`

[2021-07-22 11:44] jithusjacob commented on #123
PS C:\Users\jithu\AppData\Local\nvim\plugged\coc-flutter> node esbuild.js
build succeeded

[2021-07-22 11:44] Kavantix commented on #123
Cool, test it now :)

[2021-07-22 11:51] jithusjacob commented on #123
Super its working perfectly fine as in Neovim 0.4.5. thank so much for the support and helping me step by step. Just one doubt.

Will need to use the plugin or I can use it as COC-extension now

[2021-07-22 11:53] Kavantix commented on #123
Good to hear.
Once @iamcco has reviewed my changes we'll publish it and then you can remove the line from your vim config and install it using the regular channels again.

[2021-07-22 11:56] jithusjacob commented on #123
Thanks

[2021-07-22 12:47] #123 closed

[2021-07-22 12:49] iamcco commented on #123
will look into it later

[2021-07-22 12:59] Kavantix commented on #123
@jithusjacob I just published v1.9.3 so you should be able to switch back to the normal version.
Thanks again for helping us test!

[2021-07-22 13:42] jithusjacob commented on #123
@Kavantix Thanks for extended help..... switched back to normal version and it working fine.

[2021-07-23 21:21] christopherfujino opened #127 "Latest dart-sdk breaks integration with coc-flutter"
I don't have time to do a full bisect, but coc-flutter works fine with the Dart SDK from Flutter commit `5acf7e98f1`:

[code]

But does not work as of Flutter commit `deee99578395497ec0b46db6c6043e6ce81520f5`:
[code]

Here is my `:CocInfo`:

[code]

I am guessing that a change to the Dart LSP server broke this.

[2021-07-23 21:24] christopherfujino commented on #127
I believe the dart diffs between these two commits is: https://github.com/dart-lang/sdk/compare/d65b397fe..5e2a41b0088c0 which has a big diff on the //pkg/analysis_server/lib/src/lsp/client_configuration.dart file

[2021-07-23 21:25] christopherfujino commented on #127
Looks like this diff: https://github.com/dart-lang/sdk/commit/c88193538d78408f3523ad11126dc28136a1b476

[2021-07-24 05:40] Kavantix commented on #127
Could you provide the info requested in the template and define what exactly doesn’t work.
From what you’ve shared so far it looks like the problem is at the dart sdk side. Can you test if you have the same problems in vscode with lsp enabled there.

[2021-07-24 05:41] Kavantix commented on #118
@kickymaulana is this perhaps fixed in v1.9.3?

[2021-07-24 05:44] Kavantix commented on #95
This should be resolved in the latest flutter version

[2021-07-24 05:44] #95 closed

[2021-07-24 05:46] Kavantix commented on #73
I’m assuming you are no longer experiencing the problem, if that’s nit the case feel free to comment here and I’ll reopen

[2021-07-24 05:46] #73 closed

[2021-07-24 11:05] kickymaulana commented on #118
i hope it

[2021-07-24 11:18] Kavantix commented on #118
Well can you test it?🙈

[2021-07-24 11:20] kickymaulana commented on #118
I will try it soon. thanks

[2021-08-04 04:42] workflow opened #130 "Question: Running flutter.run in different directory"
Hi and thanks @iamcco for this wonderful plugin! :clap:

I'm having trouble getting `CocCommand flutter.run` to work, since `flutter run` needs to run in a different directory than my main workspace.

I have the following workspace directory structure:
[code]

I'm assuming that the `CocCommand` is hardcoded to run `flutter run` in my main workspace directory.
How do I change that?

Looking at [thi

[2021-08-18 09:16] ploth commented on #130
I just run `:cd app | FlutterRun` :)

[2021-08-19 12:42] joshpetit opened #132 "Bug: Hot Reload/Restart throws error on writes"
Thanks a lot for this extension, it's been a real help so having this issue solved would save me!
**Describe the bug**
Whenever you write to a file, this error is thrown:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run flutter application
2. Write to a file

**Expected behavior**
The application to reload

**Desktop (please complete the following information):**
 - OS: Arch
 - Vim

[2021-08-20 05:13] workflow commented on #130
Good enough I guess :)
Bonus points if you know of a way to `cd` back while the cmd is still running in the background?

`cd app | exe "silent FlutterRun -t lib/main_staging.dart --flavor staging" | cd ..`
suppresses too much output.

[2021-08-20 05:13] #130 closed

[2021-08-20 06:05] ploth commented on #130
I'm using [vim-rooter](https://github.com/airblade/vim-rooter) which brings me back automatically.

[2021-08-20 06:15] Kavantix commented on #132
Strange that hot reload is not working
Can you share the `flutter.dev` output
And share which versions you are using of coc-flutter coc.nvim and node

[2021-08-20 06:43] workflow commented on #130
Cool, didn't know about that one :) It actually works with `:exe` alone, edited my comment above.

[2021-08-20 08:12] iamcco commented on #132
I catch the issue.

the latest version of coc.nvim change the type of `diagnosticManager.getDiagnostics`

code impelement: https://github.com/neoclide/coc.nvim/blob/master/src/diagnostic/manager.ts#L213

No match typibg: https://github.com/neoclide/coc.nvim/blob/master/typings/index.d.ts#L7649

So the code will breaking with latest coc.nvim

https://github.com/iamcco/coc-flutter/blob/master/src/pr

[2021-08-20 08:31] iamcco commented on #132
Please test with https://github.com/iamcco/coc-flutter/pull/133

[2021-08-20 11:19] Nohac commented on #127
I'm having the same problem. Most of the lsp functionality does not work, things like hover, go to definition etc.
Commands still work, like `flutter.run` etc.

[code]
[code]

[code]

I tested vscode and it works as expected.

[2021-08-20 17:08] christopherfujino commented on #127
I'm pretty sure vscode is fine, because the commit I bisected this to was authored by the maintainer of the dart-code vscode plugin.

[2021-08-20 19:01] Kavantix commented on #127
@Nohac could you provide the flutter output:
1. Set `"flutter.trace.server":   "verbose"`
2. Restart coc using `:CocRestart`
3. Reproduce the issue
4. `:CocCommand workspace.showOutput` open output list and select `flutter`

[2021-08-20 20:42] Nohac commented on #127
@christopherfujino Strange, this is only an issue for me on my laptop, it works fine on my desktop (last I checked). I might try to reinstall coc and flutter completely and see if that helps.

@Kavantix
[code]

[2021-08-21 07:18] dkbast opened #134 "Package development: Example Projects don't get a working language server / code actions"
**Describe the bug**
I am developing a new Flutter package - when I'm in package_name/lib everything works as expected, but when I'm writing the examples in package_name/example/lib/main.dart I don't get any code actions or language server features.

**To Reproduce**
Steps to reproduce the behavior:
1. For reference go to https://flutter.dev/docs/development/packages-and-plugins/developing-package

[2021-08-21 07:53] Kavantix commented on #134
Can you try opening the project from the example directory itself.
Also, you should not need the part in ‘coc-settings`, coc-flutter handles that

[2021-08-21 10:20] dkbast commented on #134
There seems to be no difference between `vim example/lib/main.dart` and `cd example` `vim lib/main.dart`

In both cases I get '[coc.nvim] No code action available' and no analyzer, closing tags etc pp

The path within vim is displayed as 'example/lib/main.dart' no matter from where I start - so I guess there is some magic going on in discovering which kind of project I'm working on and to auto dis

[2021-08-21 13:54] #132 closed

[2021-08-24 18:00] dprophete opened #135 "`TypeError: t.find is not a function` when saving a dart file"
**Describe the bug**

I got coc-flutter working properly with my neovim setup. I love it. Code completion, goto def, find references, hot reload, etc... everything works fine.

Except for one little thing. **Whenever I save a dart while WHILE the app is running** (say, in the simu), I get this vim error:

[code]

And if I stop/detach the app, then saving works fine.

**To Reproduce**
For me it's q

[2021-08-24 18:02] dprophete commented on #135
forgot to mention that I am only getting this with `coc-flutter`. I use `coc` with `elm` or `js`, and I am not getting any error there...

[2021-08-25 03:31] changyiyao commented on #55
sad sad for omnipotent neovim🧐

[2021-08-25 04:53] iamcco commented on #135
What's your coc-flutter version. The bug is fix in the latest version.

[2021-08-25 05:05] dprophete commented on #135
oh man, of course... Ok, I did a quick `CocUpdate` and now life is good. Thx a lot @iamcco. Really appreciate the quick answer.

[2021-08-28 19:03] santikid commented on #127
@christopherfujino could you please post your coc-settings.json?

[2021-08-30 17:53] christopherfujino commented on #127
Here's the relevant part of coc-settings.json:

[code]

and then dart-analysis-server.sh is:

[code]

[2021-09-01 12:45] erickzanardo commented on #127
I believe I stumbled on this issue yesterday, when I updated to the latest flutter beta channel (2.5.0-5.2.pre) most of the integration stop working. I still get some information on the status line about the line I have the cursor, but that is it, autocomplete, code actions, nothing else works.

This is my vim config file: https://github.com/erickzanardo/dotfiles/blob/master/init.vim, I don't have

[2021-09-02 15:05] changyiyao commented on #134
try setting `flutter.lsp.initialization.onlyAnalyzeProjectsWithOpenFiles` to `false`

[2021-09-06 17:10] dkbast commented on #134
@changyiyao I tried, but this didn't work for me - did you give it a try? Does it work for you?

[2021-09-06 18:22] changyiyao commented on #134
@dkbast Have the similar issue but workaround well as the following:
1. make the package be the local dependency of the example project, you may configure like ../ on dependency_overrides to the pubspec of example.

2. cd to example dir.

3. vim/nvim

4. `:e lib/main.dart` (In my experience it must firstly open one dart file which belongs to example project, otherwise the lsp doesn't work well for

[2021-09-09 14:48] tizee commented on #127
It works as a charm.  I've spent my whole day figuring out what's happened after upgraded the flutter sdk yesterday.

By reading through [services.ts#L430](https://github.com/neoclide/coc.nvim/blob/master/src/services.ts#L430), you could find that when defining lsp server within `lanuageserver`  section of `coc-settings.json`,  `coc.nvim` would generate client options without any initialization se

[2021-09-09 15:01] tizee commented on #127
In short, here is my solution for this.  In you `coc-settings.json`:
[code]

BTW,  The `coc-flutter` set `onlyAnalyzeProjectsWithOpenFiles` default to `true` which is opposite to the default value of the [analysis_server#initialization-options](https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/tool/lsp_spec/README.md#initialization-options).

[2021-09-10 10:00] Kavantix commented on #127
Thanks for the investigation and @tizee thanks for the solution.
I just opened PR #136 that will set the default to `false`

[2021-09-10 10:01] #135 closed

[2021-09-10 10:05] Kavantix commented on #120
This has landed in stable 🎉
Use `CocCommand workspace.renameCurrentFile` to rename/move a file

[2021-09-10 10:05] #120 closed

[2021-09-10 10:05] Kavantix commented on #118
I'm going to assume this is fixed, if not please comment and I'll gladly reopen

[2021-09-10 10:05] #118 closed

[2021-09-11 07:56] #127 closed

[2021-09-13 02:45] changyiyao opened #137 "[Feature] Make outline configurable for switch between PublishOutline and PublishFlutterOutline"
Hi God汤,

For now, the outline `CocOutline` only shows the class, variables, functions, methods which are dart relates.
I'm not quite familiar with dart LSP server, but I assume after adding support for `PublishFlutterOutline` notification the outline can show additional informations about flutter such as the widget hierarchy?

If the above is true, the feature description is:
1. Add a `coc-config

[2021-09-13 07:17] anuDominic opened #138 "On windows and coc-flutter not working"
**Describe the bug**
I had faced a similar issue on windows -#123. It was fixed then. I recently reinstalled all the nvim setup.And facing the same issue.Could you please check

A clear and concise description of what the bug is.
Code action and error detecting is not working

Desktop (please complete the following information):

OS: Windows 10
Vim or Neovim:NeoVim
(Neo)vim version:0.5.0

**Output

[2021-09-16 13:16] changyiyao opened #139 "Too many dev logs leads to VNR(vim not response)"
**Describe the bug**
Too many dev logs leads to VNR(vim not response).

**To Reproduce**
Steps to reproduce the behavior:
1. flutter.run
2. flutter app produces too many logs.
3. not run flutter.dev.clearlog
4. wait for a while until VNR.

**Expected behavior**
Automatic clear overflowed logs (adding a max limit  setting)

**Desktop (please complete the following information):**
 - OS: MacOS
 - Ne

[2021-09-17 06:47] #138 closed

[2021-09-19 03:30] dprophete opened #140 "[coc.nvim]: Error on "jumpDefinition": definition provider not found for current buffer, your language server doesn't support it."
Hi guys,

Not sure if it's related to upgrading to the latest flutter + dart, but coc-flutter now always reports:
`[coc.nvim]: Error on "jumpDefinition": definition provider not found for current buffer, your language server doesn't support it.` when I try to jump to definition or get the references.

Note that coc itself seems to work properly (coc goto definition works with elm files for instanc

[2021-09-19 20:49] llucax commented on #140
Hi, I'm having a similar issue. I've been away from Flutter for around 4 months. Now I tried to work again on a project and also noticed I barely have any of the benefits of coc-flutter. I don't get analyzer indications, nor go to definition, nor auto-import or even completion from classes in the imports I already imported. I still get too the `flutter` service working and using `CocCommand` or `C

[2021-09-20 21:52] Kavantix commented on #140
Just released v1.9.6 which should fix these issues

[2021-09-20 21:52] #140 closed

[2021-09-20 21:53] Kavantix commented on #134
@dkbast can you check if v1.9.6 fixed your issue?

[2021-09-20 22:30] dprophete commented on #140
Very nice @Kavantix . Happy to report that it does indeed fix the issue. Thx.

[2021-09-21 07:59] llucax commented on #140
Me too, thanks!

[2021-09-21 08:08] llucax commented on #140
One question, since we are here and I don't know of a better place to ask. As part of my coming back to Flutter after a while being away, I updated to use the new flutter lints rules. I noticed I don't get the errors/warnings/info I get via `flutter analyze` inside vim with coc-flutter. Is this normal/expected? Is there a way to enable getting analyze issues as info/warn/errors in vim? I couldn't

[2021-09-21 21:42] dprophete commented on #140
@llucax : seems to work fine for me:
![image](https://user-images.githubusercontent.com/518393/134251777-b8c9d92a-0184-483e-8ca9-124d0cab6821.png)

[2021-09-22 20:15] llucax commented on #140
Thanks for checking out. It's working for me now too, I'm not sure what happened, maybe a misconfiguration while I was trying to figure out why it didn't work before the update. But all good now 🎉

[2021-09-23 03:54] changyiyao commented on #134
Finally, I found another way to work properly without `cd` into the `example` folder:
 **Background**:
 Since default rootPatterns of workspace when you open dart files is like:
 {"global": [".git", ".hg", ".projections.json"], "buffer": [], "server": ["pubspec.yaml"]}
Coc.nvim recognize workspaces by this patterns when you once open a file.
By default, when opening example/lib/main.dart from pack

[2021-09-23 06:04] changyiyao opened #141 "[feature] let flutter.workspace.ignore pass to ignoredRootPaths of LanguageClientOptions"
Finally, I found another way to work properly without `cd` into the `example` folder:

 **Background**:
The whole project structure may be like:
[code]
 Since default rootPatterns of workspace when you open dart files is like:
 {"global": [".git", ".hg", ".projections.json"], "buffer": [], "server": ["pubspec.yaml"]}
Coc.nvim recognize workspaces by this patterns when you once open a file.
By defa

[2021-10-05 01:58] lcdsmao opened #142 "[Bug] Error: An error occurred while handling workspace/willRenameFiles request"
**Describe the bug**
Rename file error.
Only the file itself got the new name, but any reference doesn't get an update.

[code]

**To Reproduce**
1. run `:CocCommand workspace.renameCurrentFile`
2. enter a new filename
3. the error occurs

**Expected behavior**

The file itself gets renamed and all references get the update.

**Screenshots**
If applicable, add screenshots to help explain your prob

[2021-10-25 07:40] iEricKoh opened #143 "any way to close the popup window"
there's a popup window that contains log on the top right corner when I save my file every time, is there a way to disable it?

i know how to open the log window separately when I need it, I feel like the log on the top right corner is something make my vim extremely slow.

<img width="586" alt="Screen Shot 2021-10-25 at 15 37 13" src="https://user-images.githubusercontent.com/8081074/138654303-ad

[2021-11-17 12:17] akvus opened #144 "If FVM config is present, fvm is not used"
**Describe the bug**
Running `flutter.run` coc command uses `flutter` command instead of `fvm flutter` when fvm is set up (`flutter.fvm.enabled` setting).

**To Reproduce**
Steps to reproduce the behavior:
1. Set `flutter.fvm.enabled` to true
2. Set up NVM in a project with `.fvm/fvm_config.json`
3. Run `flutter.doctor`

**Expected behavior**
Version of flutter specified at `fvm_config.json` is us

[2021-11-22 20:30] Kavantix commented on #144
coc-flutter does not use that config file. It just checks if a symlink exists in the .fvm folder.
Did you run `fvm use $version` in your project folder or did you only add the config file?

[2021-11-22 20:32] Kavantix commented on #143
Which version are you using? I believe this has been disabled quite a long time ago already

[2021-11-22 20:33] Kavantix commented on #142
Which version of dart are you using?

[2021-11-22 20:35] #10 closed

[2021-11-23 00:34] lcdsmao commented on #142
Hi @Kavantix
Versions I am using are:
coc-flutter: 1.9.6
flutter: 2.5.3

[2021-11-23 07:49] Kavantix commented on #142
Can you share the flutter.lsp log when this happens

[2021-11-23 18:08] erickzanardo commented on #127
This seems to be happening again on the latest beta channel. I am unsure if the cause if the same, but the symptoms are, is anyone facing this too?

[code]

[2021-11-24 01:27] lcdsmao commented on #142
@Kavantix
Here is the log:

<details>
  <summary>Log</summary>

[code]
</details>

[2021-11-24 06:35] Kavantix commented on #142
From the log it seems to go wrong on the dart side.
Have you tried if it does work in vscode?

[2021-11-24 07:54] lcdsmao commented on #142
Yes, it works in vscode.
I have tried to capture some logs:

<details>
  <summary>Log</summary>

[code]

</details>

[2021-11-24 10:19] DanTup commented on #142
Looking at the log, is the editor closing/renaming the file before the `willRenameFiles` request completes? The rename operation should be blocked until it completes, as `willRenameFiles` is intended for servers that need to compute edits _before_ the rename occurs (`didRenameFiles` is the equivalent notification where the server does _not_ need to compute editors _prior_ to the rename).

https://

[2021-11-24 11:02] Kavantix commented on #142
Hmm that sounds like a bug in coc then, right @iamcco?

[2021-11-26 13:34] akvus commented on #144
I have called `install` and `use`. In the end I switched to `asdf` which works brilliantly.

[2021-11-26 13:34] #144 closed

[2021-12-04 06:21] winterbesos opened #145 "Only flutter.run Command work."
My vim version is 8.0.   The coc-flutter works all right but dev commands.

flutter.run works well
other dev.xxxx commands do not work.

[2021-12-04 08:12] winterbesos commented on #145
And may neovim works well.

[2021-12-10 03:09] andromedabushturkey opened #146 "Features of Coc-Flutter stoped working as as intended after flutter update to v2.8"
Hi guys,
I'll keep it real short and simple. After updating my Flutter to version 2.8(Stable Channel), I ran into issue #140.
I did the same thing as dprophete and llucax in the #140 thread and get the same results.
will this require an update or was this fixed in an other way?

Thank you in advance for all the help.

Cheers

[2021-12-10 13:02] Kavantix commented on #146
@DanTup would you mind checking this lsp log, I don't see anything wrong with the requests `coc.nvim` is sending but the requested capabilities seem not to be returned by the dart lsp

<details>
<summary>Lsp output log</summary>

[code]
</details>

[2021-12-10 13:39] DanTup commented on #146
@Kavantix are you able to run the server with `--instrumentation-log-file=/some/path.txt` to capture a full log (it some additional info to just the request/responses)? Can you also confirm the exact full command being used to spawn the LSP server?

[2021-12-10 13:44] Kavantix commented on #146
@DanTup thanks for checking, I just found the problem.
Dart changed the output of `dart --version` from stderr to stdout which we were using to enable/disable dynamic capability registration for dart above 2.6

[2021-12-10 13:46] #146 closed

[2021-12-10 13:47] Kavantix commented on #146
@andromedabushturkey 1.9.7 should resolve the issue

[2021-12-10 13:49] Kavantix commented on #145
@winterbesos can you please use the issue template, without it we cannot help you

[2021-12-10 13:49] Kavantix commented on #143
Closing as this should be fixed already, if not please comment and I'll  reopen

[2021-12-10 13:50] Kavantix commented on #142
@lcdsmao for me this feature now seems to work perfectly with the latest coc.nvim and latest dart 2.15
So I'm gonna close this, if you still experience this let me know and I'll reopen

[2021-12-10 13:50] #142 closed

[2021-12-10 13:51] Kavantix commented on #141
@changyiyao a PR for this would be welcome

[2021-12-10 14:19] Kavantix commented on #146
I agree @DanTup on both points.
The first is a quirk of coc I believe.
And the second is probably extremely outdated, I'll try if I can see why @iamcco added that.

[2021-12-10 14:22] Kavantix commented on #146
A it is because of [this issue](https://github.com/dart-lang/sdk/issues/38490#issuecomment-537450963)
Definitely outdated, might consider removing the version check at some point.

[2021-12-10 14:23] andromedabushturkey commented on #146
Gents, you guys rock. Huge thank you for your amazing response time. Cheers!!

[2021-12-10 14:26] Kavantix commented on #146
@andromedabushturkey you're welcome :)

[2021-12-10 14:53] DanTup commented on #146
@Kavantix ah, I forgot about that. Though if you disable dynamic registration on the latest version of the server (eg. if you incorrectly assumed it was < 2.6 because of the `--version` change), I would still expect the server to function correctly. If that doesn't seem to be the case, please let me know and I'll take a look :-)

[2021-12-10 14:58] Kavantix commented on #146
Well the problem is that it isn't disabling dynamic registrations per se, coc is just throwing away any `registerCapability` requests coming in (the quirk I was talking about)

The server in general was working, just not the capabilities that are dynamically registered.

[2021-12-10 16:37] DanTup commented on #146
Ah, gotcha :) FWIW the client didn't send `dynamicRegistration: true` then the server would register everything statically (and not send any `registerCapability` calls). I don't know enough to know if that's a worthwhile (or even reasonable) change though.

Do let me know if anything comes up that might be related to the server though. I don't know enough to reasonable test all of the clients that

[2021-12-11 00:00] lcdsmao commented on #142
@Kavantix
Thanks!
I will try again when our project is updated to flutter 2.8.

[2021-12-11 11:45] winterbesos commented on #145
I will show it next time.
The situation not always be shown.
Now it works.
Next time. I will open a new issues.
Thank you for your reply.

[2021-12-11 11:45] #145 closed

[2021-12-15 22:26] dkbast commented on #134
Sorry for not being very responsive on this issue - today I opened up another package and it looks like this problem does not exist anymore. @Kavantix looks like this is fixed without needing any configuration. Thanks!

For others wondering if this is working, I've just checked out https://github.com/trufi-association/trufi-core and and can confirm that I can work in the package as well as in the

[2021-12-15 22:26] #134 closed

[2021-12-27 17:06] brokoli18 opened #149 "Flutter run not working with null-safety flag"
**Describe the bug**
More recent version of flutter implement the null safety feature, which throws out errors if not run with the `--no-sound-null-safety` flag. When running flutter from the terminal this works as normal (even without the flag), however when using the inbuilt `CocCommand flutter.run --no-sound-null-safety` there are errors which indicate that this flag isnt parsed.

There is only

[2021-12-27 17:19] Kavantix commented on #149
That’s really weird, might be windows only perhaps.
Can you test what happen if you run with the `—help` flag instead

But on a sidenote as I believe I also mentioned in the other ticket. If you don’t want to run in sound nullsafety mode you can opt out by putting `// @dart = 2.11` at the top of your `main.dart` which is way more convenient.

[2021-12-28 10:00] brokoli18 commented on #149
@Kavantix When I run with the `--help` flag I get the below output, which indicates that `--help` was parsed properly:
[code]
I tried to do this on my linux machine with the same flutter version and the flutter run works without an issue, which leads me to believe that this is indeed a windows problem.

I also tried to add the `// @dart = 2.11` parameter at the top of my `main.dart` file but the i

[2021-12-28 10:32] Kavantix commented on #149
Interesting, can you try running with `--no-sound-null-safety -v`.

That the dart version comment doesn't work is even stranger, did you run without the flag after adding that line?

[2021-12-28 10:35] Kavantix commented on #149
I just noticed that the documentation of the flag specifies that it works differently for flutter web:

Are you running on web?

[2021-12-28 22:45] brokoli18 commented on #149
I am running only on my android phone for both windows and linux.

[2021-12-30 11:23] brokoli18 commented on #149
I ran wthout the flag after commenting the dart version, so `:CocCommand flutter.run`.

I also ran with `--no-sound-null-safety -v`, the output of which I attached to this comment, but from having a quick glance it seems that the flag is indeed there. @Kavantix Let me know if I can provide any more diagnostic information.
[log.txt](https://github.com/iamcco/coc-flutter/files/7792660/log.txt)

[2021-12-30 11:31] Kavantix commented on #149
Well I have no idea why this would not work, or alternatively why it does work if you run directly from the console.

It is even passing the flag to the dart executable:
[code]

[2021-12-30 11:34] Kavantix commented on #149
Can you try running directly from the console with the dart version comment and without `--no-sound-null-safety`

[2021-12-30 17:20] brokoli18 commented on #149
Are you refferinig to the command you specified in https://github.com/iamcco/coc-flutter/issues/149#issuecomment-1002989751? I tried to run that but I dont think powershell can parse all the flags properly:
[code]

[2021-12-30 17:56] Kavantix commented on #149
No I just mean flutter run

[2022-01-01 06:58] thechawla225 commented on #41
I am still having trouble with this, I have added this to my init.vim:

[code]
but when I run :call CocAction('codeAction') on selecting anything I just get this:

![image](https://user-images.githubusercontent.com/45570514/147845517-b877ee59-f760-4ea6-9c7d-45491818062f.png)

I don't understand what I am supposed to do.

I am new to vim, I apologize if its very obvious.

Any help is appreciated. T

[2022-01-02 19:56] brokoli18 commented on #149
Running `flutter run` from mthe terminal with the comment in the `main.dart` file results in teh application startinng normally (with an unsound null safety warning). Let me know if you want meto provide the full output

[2022-01-13 20:46] Kavantix commented on #149
@brokoli18 could you try to check if coc-flutter is using the same flutter executable as when you run it manually.

It might also help if you could share the normal flutter output (instructions are in the issue template)

[2022-01-13 20:46] #143 closed

[2022-01-23 12:24] wangzhaohe opened #150 "Use `gd` coc-definition jump into 3rd plugin showind Target of URI doesn't exist"
It do well in flutter project, But display diagnostic error in 3rd party plugins like Provider after I used  command `gd` (coc-definition)  to jump into the source file.

[code]

**To Reproduce**
1. put cursor on `Provider`
2. press `gd` key
3. jump into file: "~/learn/flutter/soft/flutter/.pub-cache/hosted/pub.dartlang.org/provider-6.0.1/lib/src/provider.dart"
4. then error displayed

    import

[2022-01-23 13:23] wangzhaohe commented on #50
Encountered exactly the same problem. And SDK directory still show errors.

[2022-01-24 03:28] wangzhaohe commented on #50
I open a new issue, then I found the discuss here.

https://github.com/iamcco/coc-flutter/issues/150#issue-1111856494

Would you teach me how to solve this problem?  Wish your help, thanks.

Now I make a link to `.dart_tool`, but there are many 3rd libs. So I think it is not a good method.

[2022-02-11 14:50] Kavantix commented on #150
@wangzhaohe do you still have this with the latests version of dart?

[2022-04-22 03:13] lukepighetti opened #151 ":CocCommand flutter.run does nothing"
If I run `:CocCommand flutter.run`, I see the notice in the upper left `Starting flutter dev server...` and nothing attaches.

I do see my device in `:CocCommand flutter.devices`

[2022-04-22 03:31] lukepighetti commented on #151
It fails silently, I was not in the right folder. Would be nice if it showed errors when trying to run

[2022-05-05 00:48] magax opened #152 "Dev log buffer does not scroll down to the last updates"
Hi, is there a way to make the `output:///flutter-dev` buffer cursor be always at the end when a change occurs so we don't have to move it manually every time to check that something is logged?
Weird behavior to me that it is stuck where we open it the first time.

![Screenshot 2022-05-05 at 02 46 02](https://user-images.githubusercontent.com/26014494/166849037-ff92a04e-43ba-4b57-abb8-d46c95306e33

[2022-05-06 07:13] matrixbot123 commented on #139
Is this issue specific to only MacOS?

[2022-05-16 02:57] IndexXuan opened #153 "isInComplete of null"
**Describe the bug**
https://github.com/neoclide/coc.nvim/issues/3820

It seems with new coc.nvim, we meet this issue. please help us.

Thanks a lot.

[2022-05-16 03:30] #153 closed

[2022-05-18 14:50] dkbast opened #156 "[feature] fix LSP suggestion where initState snippet from language server implies code should be added above super.initState()"
when overwriting initState of a statefulWidget using the context menu / quick fix we end up with

[code]
which is misleading as we want to call initState first and then add our own code according to the documentation
https://github.com/flutter/flutter/blob/6eb65b376d822b7aa87372b7a001d839836eeb23/packages/flutter/lib/src/widgets/framework.dart#L981

This is how it should look like:
[code]

There i

[2022-05-19 08:46] iamcco commented on #156
If you want to fix here, you can do in middleware, like improve the `setState` snippets here https://github.com/iamcco/coc-flutter/blob/32aaad1edc5b6f51734653771ef136ccf0c181f4/src/server/lsp/resolveCompleteItem.ts#L38-L43

[2022-05-20 02:43] iamcco commented on #156
1 clone repo
2 in the repo directory run `yarn install` or `npm install`
3 build repo with `yarn build`
4 run `yarn link`
5 goto `~/.config/coc/extensions` directory and run `yarn link coc-flutter` to replace extension to local extension.

[2022-05-24 11:57] dkbast commented on #156
@iamcco I did steps 1 to 5 and can confirm that ~/.config/coc/extensions/node_modules/coc-flutter is pointing to my development directory but I don't see any change in the behaviour of the plugin in vim, tried restarting vim and ':CocInstall' - anything else I might be missing?

I tried changing the setState resolver (adding a //test comment), but I don't see it in vim.

[code]

[2022-05-24 15:47] iamcco commented on #156
Check the lsp output to see setState if is InsertTextFormat.Snippet. this fix is for old lsp version switch return is not InsertTextFormat.Snippet.

[2022-05-29 13:11] akvus opened #157 "Provider not found for current buffer, your language server doesn't support it"
**Describe the bug**

I have my vim config set up and I use it on both macos and windows/WSL2-ubuntu.
On macos coc-flutter works just fine, however with nvim installed on windows (with powershell) and on ubuntu through WSL2 I keep getting the following issues:

[code]

Here is my vim config: https://github.com/akvus/akv-vim-config

**To Reproduce**
Steps to reproduce the behavior:
1. Try out my vi

[2022-05-29 13:31] akvus commented on #157
What eventually worked was reinstalling nvim.

[2022-05-29 13:31] #157 closed

[2022-06-06 11:13] justjew commented on #150
CocDiagnostics shows hundreds of `Target of URI doesn't exist`

NVIM v0.7.0
Build type: Release
LuaJIT 2.1.0-beta3

node version: v15.5.0
coc.nvim version: 0.0.81-093e4300 2022-06-04 17:10:20 -0700
term: iTerm.app
platform: darwin

coc.flutter 1.9.8

[2022-06-30 13:39] shashanknimje opened #158 "Feature Request - Ability to run "flutter devices --show-web-server-device""
https://github.com/iamcco/coc-flutter/blob/32aaad1edc5b6f51734653771ef136ccf0c181f4/src/commands/global.ts#L83

Hi,

Thank you very much for this amazing plugin! Currently, I'm trying to use nvim via ssh to run a flutter "web-server" device using a command like so.

"flutter run -d web-server --web-port=12345"

This runs the web-server just fine even when I use the coc-flutter command "flutter.run

[2022-07-01 07:29] Kavantix commented on #158
Hi @shashanknimje,

I'm not completely getting the problem I feel, I don't see why you need to run `flutter.attach` after running `flutter.run`. That should already automatically attach such that you can see the logs and hot restart and such.

As for using `nvim-dap` for flutter I haven't tried that yet, usually just switch to the dart devtools or vscode for debugging. Could you link some docs on

[2022-07-19 15:58] tkim415 commented on #41
I had the same problem.  you can fix it by going to the widget you want to wrap and press <leader>aw.  The last "w" was what i've missed.  then you should see more "Choose Action" lists.

[2022-08-18 15:04] AdrienLemaire opened #159 "Support multiple devices"
This is a feature request.

I would like to be able to work with 2 devices connected (linux desktop & emulator android mobile), and have both of them hot reloaded.
Is that possible?
Right now, I can open 2 devices, but I need to flutter.dev.detach, select another device, then flutter.attach and flutter.run, and it doesn't work always (device is slow to react, but I sometimes it cannot be reattache

[2022-08-23 14:01] magax opened #160 "closingLabels not working on Vim 9"
Closing Labels are still not working after upgrading to Vim9 which provides [support for virtual text](https://github.com/vim/vim/issues/7553).

[2022-09-08 17:07] lukepighetti commented on #151
Does anyone have this working? I can't get this to launch anything on iOS Simulator

[2022-09-08 17:30] Kavantix commented on #151
Sorry somehow missed this issue.
For me it still works perfectly, can you supply the information requested in the issue template.
@dkbast yours would also be helpful :)

[2022-09-08 17:33] Kavantix commented on #159
Supporting this would be nice.
But personally I test responsive layouts by building for macos or web and resizing the window on the fly

[2022-09-08 17:34] Kavantix commented on #152
Do you happen to have the buffer focused?
It should only auto scroll if it’s not focused

[2022-09-08 17:35] Kavantix commented on #156
This should be changed in the dart analyzer IMHO

[2022-09-08 17:36] Kavantix commented on #150
@justjew can you share your settings for coc-flutter

[2022-09-08 17:43] Kavantix commented on #160
A PR would be very welcome

[2022-09-08 17:50] Kavantix commented on #158
Sorry for the late response!
I looked into it a bit and my conclusion so far is that the web server device is simply not meant for debugging.
But either way I’m afraid it is indeed out of scope for this plugin so I’ll close this issue.

[2022-09-08 17:50] #158 closed

[2022-10-09 15:25] AdrienLemaire opened #162 "Go to test"
**Describe the feature**
On VScode, an option "go to test" exists, that will:
- navigate the user to the related test file if exists,
- else create the directory structure and filename, and fill the new file with boilerplate to get started writing the test.

It would be nice to have the option to `:CocCommand flutter.goToTests` and get the same behavior on vim :)

[2022-10-11 12:08] AdrienLemaire opened #163 "[bug] go to file"
**Describe the bug**
When pressing `gf` on top of an import path, I get the error

[code]

Example:

[code]

Flutter lint recommends to have global imports instead of relative ones, and it seems coc-flutter doesn't resolve these paths correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any flutter file
2. position cursor above package import.
3. press `gf`
4. See error

**Expect

[2022-10-15 18:21] martin-braun commented on #28
@amrbenattia Thank you.

`"flutter.openDevLogSplitCommand": "botright 15split",` works great for me.

[2022-10-16 03:22] martin-braun commented on #120
This seem to work only partially, but it's hard for me to tell what causes the problem exactly.

Before renaming ListWithIcon.dart:

<img width="873" alt="Screen Shot 2022-10-16 at 5 20 04 AM" src="https://user-images.githubusercontent.com/24259245/196016393-90ae9266-caea-4cfa-a513-de8d090593ff.png">

After renaming ListWithIcon.dart:

<img width="860" alt="Screen Shot 2022-10-16 at 5 20 50 AM" sr

[2022-10-16 03:24] martin-braun commented on #120
The CocCommand is available, but it will not update my imports ...

[2022-11-03 02:35] AlphabetsAlphabets opened #164 "Question: Changing the inlay hints"
So, I have a need to change the inlay hints like coc-rust-analyzer allows me to do. Which are these things.

![image](https://i.imgur.com/J7Ar7td.png)

I was wondering if I could change them. Reason being, comments also use `//` it makes it very difficult to tell what is a comment and what isn't.

![image](https://user-images.githubusercontent.com/44822875/199637266-87816c56-b16c-4b47-b4da-1556849